﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Admin.BE;
@{
	ViewBag.Title = "Diccionarios";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
	var tables = (List<LVEBWeb.App_Core.Admin.BE.DICTableBE>)ViewData["Tables"];
}
@section ScriptsCSS {
	<style>
		#DIVTableValue {
			position: fixed;
			top: 50px;
			width: 80%;
			left: 10%;
		}

		.btn {
			width: 100%;
		}
	</style>

}
@section ScriptsJS {
	@Html.JSGetFileName(new List<string> { "Views/Admin/Emails.js" })
}
<h1>Admin / Emails</h1>

<section class="menu-filter">
	<div class=" container-fluid">
		<div class="row">
			<div class="col-2">
				<select type="text" id="ddlTables" class="form-control">
					<option value="EmailsWaiting" selected="selected">EmailsWaiting</option>
					<option value="EmailsSent">EmailsSent</option>
				</select>
			</div>


			<div class="col-2">
				<input type="text" id="filterEmailTo" class="form-control" placeholder="EmailTo" />
			</div>
			<div class="col-2">
				<a href="#" class="btn btn-outline-dark" onclick="GridMainStart();">Buscar</a>
			</div>
		</div>
	</div>

</section>

<br />
<section class="ng-scope">
	<div id="gridContent" class="section-grid">
		<table id="GridMain"></table>
	</div>

</section>


