﻿@using LVEBWeb.Helpers
@model LVEBWeb.Models.LogOnModel
@{
	ViewBag.Title = "La Vida Es Baile";
	Layout = "/Views/Shared/_LayoutLogin.cshtml";
}

<br>
<br>
<br>
<br>
<br>
<div style="    max-width: 800px;text-align: center; margin: auto;">
	<h2 style="text-align:center">Local validado.  </h2>
	<p>
		En unas horas confirmaremos que los datos son correctos y quedaran publicados.
	</p>
	<p>
		<h3>Gracias</h3>
	</p>
</div>
<br>
<br>
<br>
<br>
<br>
