﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Admin.BE
@model LVEBWeb.App_Core.Admin.BE.TaskGroupBE
@{
	ViewBag.Title = "Tasks Groups";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
@{
	var status = (List<DICValueBE>)ViewData["Status"];
	var types = (List<DICValueBE>)ViewData["Types"];
}
@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Views/Admin/Tasks/Tasks.css", "Views/Admin/AdminEdit.css" })

}
@section ScriptsJS{
	@Html.JSGetFileName(new List<string> { "Views/Admin/Tasks/Tasks.js" })
	<script>
$("#Status").val(@Model.Status);
	</script>
}
<input type="hidden" id="TaskGroupCode" value="@Model.Code">
<input type="hidden" id="TaskGroupType" value="@Model.Type">

<h1>Tareas</h1>
<div class="row">
	<div class="col-12 ">
		<div class="form-row nav-users-tab">
			<div class="col-md-12 mb-12" id="user_search">
				<div class="row">
					<div class="col-3">
						<a href="#" class="btn btn-default" onclick="TasksSearch();">Refrescar</a>
						<a href="#" class="btn btn-default" onclick="TaskNext();">Siguiente</a>
					</div>
				</div>
				<div id="GridTasks"></div>
			</div>
		</div>
	</div>
	<br>
</div>


<div id="frameTask" style="display:none;">
	<div class="row">
		<div class="col-12 text-right">
			<a href="#" class="btn btn-default" onclick="TaskChangeValidateAndNext();">Validar y Siguiente</a>
			<a href="#" class="btn btn-default" onclick="TaskChangeNext();">Siguiente</a>
			<a href="#" class="btn btn-default" onclick="TaskClose();">Cerrar</a>
		</div>
	</div>
	<iframe id="frameMain" src=""></iframe>
</div>