﻿
#frameTask {
    position: fixed;
    width: 100%;
    top: 36px;
    height: 100%;
    background: gainsboro;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

    #frameTask .row {
        height: 40px;
    }

#frameClose {
    position: absolute;
    right: 0px;
    padding: 5px;
    background: white;
    border-radius: 5px;
    margin: 5px;
}

#frameMain {
    width: 100%;
    height: 100%;
}
