﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Main.Model
@model LVEBWeb.App_Core.Main.Model.SearchModel
@{
	ViewData["Title"] = "Escuelas y Salas de Baile";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["description"] = "El portal de los amantes del baile. Asociación promotora de eventos, escuelas, salas y bailarines/as.";

}


@section ScriptsJS {
	<script>
	var currentPage = '@ViewData["CurrentPage"].ToString()';
	</script>
	@Html.JSGetFileName(new List<string> { "Views/Search/Index.js" })

}
@section ScriptsCSS{
	@Html.CSSGetFileName(new List<string> { "Views/Search/Index.css" })
}

<div class="jumbotron">
	<div class="container">
		<div class=" justify-content-center">
			<h1>La vida es baile</h1>
			<p>Todo lo que necesitas para no parar de bailar.</p>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2 col-lg-3"></div>
			<div class="col-12 col-md-8 col-lg-6">
				<form id="search-box">
					<div class="row search-box">
						<div class="col col-1 search" id="btnSearch">
							<svg focusable="false" height="24px" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg>
						</div>
						<div class="col col-10 search-box-main">
							<input class="form-control form-control-lg form-control-borderless" type="search" name="q" value="@ViewData["q"]"
								   id="search" placeholder="Indica ciudad o nombre del local." autocomplete=off>
						</div>
						<div class="col col-1 nearmy">
							<svg height='300px' width='300px' fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" x="0px" y="0px"><path d="M41,11.54A19.48,19.48,0,0,0,21.54,31a20,20,0,0,0,2.18,9.68c3.9,7.71,15.53,25.4,16,26.15A1.5,1.5,0,0,0,41,67.5h0a1.5,1.5,0,0,0,1.25-.68c.49-.75,12.08-18.46,16-26.14A20.09,20.09,0,0,0,60.46,31,19.48,19.48,0,0,0,41,11.54Zm.09,29a9.4,9.4,0,1,1,9.41-9.4A9.42,9.42,0,0,1,41.09,40.5Z"></path></svg>
							<div>
								Usar mi ubicación para ver eventos y locales cercanos.
							</div>
						</div>
					</div>
				</form>
			</div>
			<!--end of col-->
		</div>

	</div>
</div>


<main role="main" class="container">
	<div class="row">
		<div class="d-none d-lg-block col-md-3 content-left">
			<partial name="PartialLeft">
		</div>
		<div class="col-md-8  col-lg-6">

			@foreach (var c in Model.Items)
			{
				switch (c.Type)
				{
					case SearchItemTypes.DanceHall:
					case SearchItemTypes.DanceSchool:
						<partial name="PartialPlace" model="c" />
						break;
					case SearchItemTypes.Event:
						<partial name="PartialEvent" model="c" />
						break;
				}
			}

		</div>
		<div class="col-md-4 col-lg-3 content-right">
			<partial name="PartialRight">
		</div>
	</div>
</main>

