﻿.container .row:after, .container .row:before {
    display: none;
}

.jumbotron {
    background-image: url("/photos/home-top.png");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -70px;
}

.justify-content-center {
    text-align: center;
}

.jumbotron h1 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-style: italic;
    color: white;
    line-height: 82px;
    font-weight: 600;
    font-size: 45px;
}

.jumbotron p {
    line-height: 24px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #f3c815;
    font-size: 18px;
    font-weight: bold;
    font-family: "Open Sans script=all rev=1";
}

.venue-block, .event-block {
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #e2e2e2;
    background-color: #ffffff;
    padding: 5px 14px;
    margin-bottom: 15px;
}

    .venue-block .logo, .event-block .logo {
        padding: 0px;
    }

        .venue-block .logo img, .event-block .logo img {
            width: 80%;
            margin: 10%;
            border-radius: 70px;
        }


    .venue-block .title, .event-block .title, .venue-block .subtitle, .event-block .subtile {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .venue-block div.title, .event-block div.title {
        line-height: 30px;
        font-weight: bold;
    }

        .venue-block div.title a, .event-block div.title a {
            color: black;
        }

    .venue-block div.subtitle, .event-block div.subtitle {
        font-size: 14px;
    }

    .venue-block .desc, .event-block .desc {
    }

        .venue-block .desc p, .event-block .desc p {
            line-height: 20px;
            font-size: 15px;
            color: #383838;
            height: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

    .event-block .photo {
        max-height: 200px;
        overflow: hidden;
    }

    .venue-block .photo {
        max-height: 350px;
        overflow: hidden;
    }

        .venue-block .photo, .event-block .photo, .venue-block .photo img, .event-block .photo img {
            width: 100%;
        }


@media (max-width: 400px) {
    .btn-details span {
        display: none;
    }
}


/* Search Box: Start */
.search-box {
    height: 52px;
    border-radius: 28.5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #d0d0d0;
    background-color: #ffffff;
}

    .search-box input, .search-box input:focus {
        border: none;
        background: transparent;
        box-shadow: none;
    }

    .search-box svg {
        width: 35px;
        height: 40px;
    }

.nearmy {
    cursor: pointer;
    padding: 5px;
}

    .nearmy svg {
        fill: #9eb1b7;
        margin-left: -10px;
    }


    .nearmy div {
        display: none;
        line-height: 17px;
        margin-top: 10px;
        color: black;
        background: white;
        width: 200px;
        margin-left: -170px;
        position: relative;
        padding: 5px;
        font-size: 12px;
        text-align: center;
    }

        .nearmy div::after {
            display: block;
            content: "";
            position: absolute;
            left: 168px;
            top: -7px;
            border-style: solid;
            border-width: 0 10px 15.6px 10px;
            border-color: transparent transparent rgb(255,255,255) transparent;
        }

    .nearmy:hover div {
        display: block
    }

.search {
    cursor: pointer;
    height: 51px;
    border-radius: 28.5px 0 0 28.5px;
    background-color: #e0c93c;
    margin: 0px;
    padding: 0px;
    padding-top: 7px;
    text-align: center;
}

    .search svg {
        fill: white;
    }


#search {
    border: none;
    color: #9eb1b7;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    line-height: 34px;
    text-align: center;
    height: 51px;
}

#search-box .error {
    border: 1px dashed red !important;
}

/* Search Box: End */




.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    padding: 10px;
}

    .ui-autocomplete .ui-menu-item-wrapper {
        padding: 5px;
    }

    .ui-autocomplete .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
    }

        .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
            color: #ffffff;
            text-decoration: none;
            background-color: #0088cc;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            background-image: none;
        }

.ui-state-active {
    background: gainsboro;
    border-radius: 3px;
}


.btns {
    padding-top: 15px;
}




.calendar-box {
    padding-top: 20px;
}

.calendar {
    border-radius: 5px;
    border: solid 1px #ededed;
    background-color: #ffffff;
    display: block;
    padding: 5px;
    text-align: center;
    width: 80px;
    font-size: 14px;
}

    .calendar div {
        font-size: 25px;
        color: #e02323;
        margin-bottom: 2px;
    }

    .calendar span {
        display: block;
    }

    .calendar .month {
        font-size: 12px;
        margin-bottom: 5px;
    }
