﻿@using LVEBWeb.Helpers
@model LVEBWeb.App_Core.Main.Model.SearchItemPlaceModel
@{

}
<div class="venue-block">
	<div class="row">
		<div class="col-2 logo">
			<img src="@Model.PhotoCodeIcon" />
		</div>
		<div class="col-10">
			<div class="title"><a href="/p/@Model.Code/@Html.URLEncode(Model.Name.Replace(" ","-"))">@Model.Name    </a>    </div>
			@Model.Categories


			<div class="subtitle">
				en @Model.City @Html.Concatenate(Model.Distance > 0 ? " a " + Model.Distance + " km" : "")
			</div>
			<br>
		</div>
		<div class=" photo">
			<img src="@Model.PhotoCodeHome" />
		</div>

		<div class="col-2 insignia">
			<!--    <img src="/svg/badge.svg" /> -->
		</div>
		<div class="col-10">
			<div class="row">

				<div class="col-12 desc">
					<br>
					<p class="">
						@Model.Description
					</p>
				</div>

				<div class="col-md-12 ">
					@foreach (var tag in Model.TagsBailesList)
					{
						<span class="badge badge-pill badge-tag">@tag</span>
					}
				</div>
				<div class="col-md-12 ">
					@foreach (var tag in Model.TagsProfilesList)
					{
						<span class="badge badge-pill badge-tag">@tag</span>
					}
				</div>
			</div>
		</div>
		<div class="col-8 btns ">
			<!--    <button class="btn btn-outline-secondary btn-sm" data-url="@Html.Config_HostName()/p/@Model.Code/@Html.URLEncode(Model.Name.Replace(" ","-"))" role="button"><i class="ion ion-md-bookmark"></i> Guardar</button>
			-->
			<button class="btn btn-outline-secondary btn-sm" onclick="ShareLoad(this)" data-code="@Model.Code" data-url="@Html.Config_HostName()/p/@Model.Code/@Html.URLEncode(Model.Name.Replace(" ","-"))" data-text="@Model.Name" role="button"><i class="ion ion-md-share-alt"></i> Compartir</button>


		</div>
		<div class="col-4 btns">
			<p class="text-right">
				<a class="btn btn-outline-success btn-sm btn-details" href="/p/@Model.Code/@Html.URLEncode(Model.Name.Replace(" ","-"))" role="button"><span>Detalles </span><i class="ion ion-md-arrow-forward"></i></a>
			</p>
		</div>
		<div class="col-md-12 shareIcons" id="shareIcons_@Model.Code">

		</div>
	</div>
</div>