﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Admin.BE;
@{
	ViewBag.Title = "Diccionarios";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
	var tables = (List<LVEBWeb.App_Core.Admin.BE.DICTableBE>)ViewData["Tables"];
}
@section ScriptsCSS {
	<style>
		#DIVTableValue {
			position: fixed;
			top: 50px;
			width: 80%;
			left: 10%;
		}
	</style>

}
@section ScriptsJS {
	@Html.JSGetFileName(new List<string> { "Views/Admin/Conf/Diccionaries.js" })
}
<h1>Admin / Conf / Diccionarios</h1>
<div class=" container-fluid">
	<div class="row">
		<div class="col-3">
			<select type="text" id="ddlTables" class="form-control">
				<option value="" selected="selected">-- Seleccionar Diccionario --</option>
				@foreach (var t in tables)
				{
					<option value="@t.TableCode">@t.TableName</option>
				}
			</select>
		</div>
		<div class="col-2">
			<a href="#" class="btn btn-default" onclick="GridMainStart();">Buscar</a>
		</div>
		<div class="col-2">
			<a href="#" class="btn btn-default" onclick="TableValueNew();">Añadir</a>
		</div>
	</div>
</div>

<br />
<section class="ng-scope">
	<div id="gridContent" class="section-grid">
		<table id="GridMain"></table>
	</div>

</section>



<div id="DIVTableValue" style="display:none">
	<div class="page-filter container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Editar Diccionario</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-3"></div>
			<div class="col-2">
				<label>Tabla</label>
			</div>
			<div class="col-4">
				<input type="text" id="editTable" class="form-control" readonly="readonly" />
			</div>
			<div class="col-3"></div>
		</div>
		<div class="row">
			<div class="col-3"></div>
			<div class="col-2">
				<label>Código</label>
			</div>
			<div class="col-4">
				<input type="text" id="editCode" class="form-control" readonly="readonly" />
			</div>
			<div class="col-3"></div>
		</div>
		<div class="row">
			<div class="col-3"></div>
			<div class="col-2">
				<label>Nombre</label>
			</div>
			<div class="col-4">
				<input type="text" id="editName" class="form-control" />
			</div>
			<div class="col-3"></div>
		</div>
		<div class="row">
			<div class="col-3"></div>
			<div class="col-3">
				<button onclick="TableValueEnd();" class="btn btn-secondary">Guardar</button>
			</div>
			<div class="col-3">
				<button onclick="$('#DIVTableValue').hide();" class="btn btn-secondary">Cancelar</button>
			</div>
			<div class="col-3"></div>

		</div>
	</div>
</div>

