﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Admin.BE;
@{
	ViewBag.Title = "Messages";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
}
@section ScriptsCSS {

}
@section ScriptsJS {
	@Html.JSGetFileName(new List<string> { "Views/Admin/InternalMessages/Messages.js" })

}
<h1>Mensajes</h1>
<div class=" container-fluid">
	<div class="row">
		<div class="col-2">
			<input type="text" id="filterName" class="form-control" placeholder="Nombre" />
		</div>
		<div class="col-4">

		</div>
		<div class="col-4">

		</div>
		<div class="col-2">
			<a href="#" class="btn btn-default" onclick="GridMainStart();">Buscar</a>
		</div>
	</div>
</div>

<br />
<section class="ng-scope">
	<div id="gridContent" class="section-grid">
		<table id="GridMain"></table>
	</div>



</section>
