﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Admin.BE;
@model LVEBWeb.App_Core.Admin.BE.PlaceBE
@{
	ViewBag.Title = "VXVenues";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
	var provinces = (List<DICProvinceBE>)ViewData["Provinces"];
	var cities = (List<DICCityBE>)ViewData["Cities"];
	var HideMenu = "";
	if (ViewData["HideMenu"] != null)
	{
		HideMenu = ViewData["HideMenu"].ToString();
	}
}
@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Scripts/admin_css/map/leaflet.css", "Views/Admin/Places/PlacesEdit.css" })
}
@section ScriptsJS{
	<script>
    var LocalCategorias = '@Html.Raw(ViewData["LocalCategorias"])';
    var LocalTagsBailes = '@Html.Raw(ViewData["LocalTagsBailes"])';
    var LocalTagsProfiles = '@Html.Raw(ViewData["LocalTagsProfiles"])';
    $("#Status").val(@Model.Status);
	</script>
	@Html.JSGetFileName(new List<string> { "Scripts/admin_js/map/leaflet.js", "Views/Admin/Places/PlacesEdit.js" })
}
<div class="page-title">
	<button id="BtnDelete" name="BtnDelete" class="btn btn-waring mt-lg" onclick="return PlaceDelete();">Borrar</button>
	<button id="BtnSave" name="BtnSave" class="btn btn-success mt-lg" onclick="return false;">Guardar</button>

	<h2 class="page-title">
		Locales / Editar <small>du: @Model.UpdateDate</small>
	</h2>
</div>
<nav>
	<div class="nav nav-tabs" id="tab-edit" role="tablist">
		<a class="nav-item nav-link active" id="nav-name-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-name" aria-selected="true">Nombre</a>
		<a class="nav-item nav-link" id="nav-description-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-description" aria-selected="false">Descripcion</a>
		<a class="nav-item nav-link" id="nav-address-tab" data-toggle="tab" href="#nav-address" role="tab" aria-controls="nav-address" aria-selected="false">Dirección</a>
		<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-address" aria-selected="false">Contacto y Horarios</a>
		<a class="nav-item nav-link" id="nav-photos-tab" data-toggle="tab" href="#nav-photos" role="tab" aria-controls="nav-address" aria-selected="false">Fotos</a>
	</div>
</nav>
<form id="form" method="post">
	<input type=hidden id="HideMenu" name="HideMenu" value="@HideMenu">
	<div class="row">
		<div class="col-12 tab-edit">


			<div class="form-row nav-name-tab">
				<div class="col-12">
					<h3>Nombre</h3>
				</div>
				<div class="col-md-6 mb-6">
					<label for="Name">Nombre</label>
					<input type="text" id="Name" name="Name" value="@Model.Name" class="form-control" required="required" />
				</div>
				<div class="col-md-2 mb-2">
					<label for="EditCode">Codígo</label>
					<input type="text" id="EditCode" name="Code" value="@Model.Code" class="form-control"
						   readonly="readonly" />
				</div>
				<div class="col-md-2 mb-2">
					<label for="Status">Estado</label>

					<select type="text" id="Status" name="Status" class="form-control">
						<option value="180000">Borrador</option>
						<option value="180001">Activo</option>
						<option value="180002">Cerrado Temporal</option>
						<option value="180003">Cerrado Permanente</option>
					</select>
				</div>
				<div class="col-md-2 mb-2">
					<label for="Score">Score</label>

					<input type=number min=0 max=100 id="EditScore" name="Score" value="@Model.Score" class="form-control" />
				</div>
				<div class="col-12">
					<a href="https://www.google.com/search?q=@Model.Name" target=_blank>Google</a> - <a href="https://www.google.com/maps?q=@Model.Name,@Model.AddCity" target=_blank>Google Map</a>
				</div>

			</div>
			<div class="form-row nav-name-tab">
				<div class="col-md-12 mb-12">
					<label for="Categories">Tipo Local</label>
					<input type="text" id="Categories" data-id="@Model.CategoriesIds" class="form-control" data-multiple />
					<input type="hidden" id="CategoriesIds" name="CategoriesIds" value="@Model.CategoriesIds" class="form-control" data-multiple />
				</div>
			</div>
			<div class="form-row nav-name-tab">
				<div class="col-md-12 mb-12">
					<label for="TagsModalitate">Modalidades</label>
					<input type="text" id="TagsBailes" data-id="@Model.TagsBaileIds" class="form-control" data-multiple />
					<input type="hidden" id="TagsBaileIds" name="TagsBaileIds" value="@Model.TagsBaileIds" class="form-control" data-multiple />
				</div>
			</div>
			<div class="form-row nav-name-tab">
				<div class="col-md-12 mb-12">
					<label for="TagsProfile">Perfil de Local</label>
					<input type="text" id="TagsProfile" data-id="@Model.TagsProfileIds" class="form-control" data-multiple />
					<input type="hidden" id="TagsProfileIds" name="TagsProfileIds" value="@Model.TagsProfileIds" class="form-control" data-multiple />
				</div>
			</div>


			<div class="form-row nav-name-tab">
				<div class="col-md-4 mb-4">
					<label for="PhotoCodeHome">Foto Home</label>
					<input type="text" id="PhotoCodeHome" name="PhotoCodeHome" value="@Model.PhotoCodeHome" class="form-control" />
				</div>
				<div class="col-md-4 mb-4">
					<label for="PhotoCodeIcon">Foto Icon</label>
					<input type="text" id="PhotoCodeIcon" name="PhotoCodeIcon" value="@Model.PhotoCodeIcon" class="form-control" />
				</div>
			</div>
			<div class="form-row nav-description-tab">
				<div class="col-md-12 mb-12">
					<h3>Description Corta <small>2 lineas</small></h3>
					<textarea name="Description" class="form-control" style="		height: 80px;" required>@Model.Description</textarea>
				</div>
			</div>
			<div class="form-row nav-description-tab">
				<div class="col-md-12 mb-12">
					<h3>Description Completa</h3>
					<textarea name="DescriptionFull" class="form-control" required>@Model.DescriptionFull</textarea>
				</div>
			</div>
			<div class="form-row nav-address-tab">
				<div class="col-12">
					<h3>Dirección</h3>
				</div>
				<div class="col-md-6 mb-6">
					<label for="AddStreet">Calle</label>
					<input type="text" name="AddStreet" id="AddStreet" value="@Model.AddStreet" class="form-control" />
				</div>
				<div class="col-md-3 mb-3">
					<label for="AddStreetNumber">Número</label>
					<input type="text" id="AddStreetNumber" name="AddStreetNumber" value="@Model.AddStreetNumber" class="form-control" />
				</div>
				<div class="col-md-3 mb-3">
					<label for="AddProvinceCode">Provincia</label>
					<select type="text" id="AddProvinceCode" name="AddProvinceCode" class="form-control" required="required">
						<option value="" selected="selected">-- Filtrar por Provincia --</option>
						@foreach (var p in provinces)
						{
							@if (Model.AddProvinceCode == p.Code)
							{
								<option value="@p.Code" selected="selected">@p.Name</option>
							}
							else
							{
								<option value="@p.Code">@p.Name</option>
							}
						}
					</select>
				</div>
				<div class="col-md-3 mb-3">
					<br>
					<label for="AddCityCode">Ciudad</label>
					<select type="text" id="AddCityCode" name="AddCityCode" class="form-control">
						@foreach (var p in cities)
						{
							@if (Model.AddCityCode == p.Code)
							{
								<option value="@p.Code" selected="selected">@p.Name</option>
							}
							else
							{
								<option value="@p.Code">@p.Name</option>
							}
						}
					</select>
				</div>
				<div class="col-md-3 mb-3">
					<br>
					<label for="EditAddPC">CP</label>
					<input type="text" id="EditAddPC" name="AddCP" value="@Model.AddCP" class="form-control" />
				</div>
				<div class="col-md-3 mb-3">
					<br>
					<label for="EditLat">Latitude</label>
					<input type="text" id="EditLat" name="Latitude" value="@Model.Latitude" class="form-control" />
				</div>
				<div class="col-md-3 mb-3">
					<br>
					<label for="EditLon">Longitude</label>
					<input type="text" id="EditLon" name="Longitude" value="@Model.Longitude" class="form-control" />
				</div>
			</div>
			<div class="form-row nav-address-tab">
				<div id="map_canvas"></div>
			</div>
			<div class="form-row nav-contact-tab">
				<div class="col-md-3 mb-3">
					<label for="EditWeb">Web</label>
					<input type="text" id="EditWeb" name="ContactWeb" value="@Model.ContactWeb" class="form-control" />
				</div>
				<div class="col-md-3 mb-3">
					<label for="EditPhone">Telefono</label>
					<input type="text" id="EditPhone" name="ContactPhone" value="@Model.ContactPhone" class="form-control" />
				</div>
				<div class="col-md-3 mb-3">
					<label for="EditEmail">Email</label>
					<input type="text" id="EditEmail" name="ContactEmail" value="@Model.ContactEmail" class="form-control" />
				</div>
				<div class="col-md-3 mb-3">
					<label for="EditOthers">Otros</label>
					<input type="text" id="EditOthers" name="ContactOther" value="@Model.ContactOther" class="form-control" />
				</div>
			</div>
			<div class="form-row nav-contact-tab">
				<input type="hidden" id="OpenHours" name="OpenHours" value="@Model.OpenHours">
				<table class="table col-sm-6" id="OpenHoursTable">
					<thead>
						<tr>
							<th scope="col">Day</th>
							<th scope="col">De</th>
							<th scope="col">A</th>
							<th scope="col">Y de</th>
							<th scope="col">A</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Lunes</th>
							<td><input type="time" id="time00"></td>
							<td><input type="time" id="time01"></td>
							<td><input type="time" id="time02"></td>
							<td><input type="time" id="time03"></td>
							<td></td>
							<td><span class="calendarClear" id="time0">clear</span></td>
						</tr>
						<tr>
							<th>Martes</th>
							<td><input type="time" id="time10"></td>
							<td><input type="time" id="time11"></td>
							<td><input type="time" id="time12"></td>
							<td><input type="time" id="time13"></td>
							<td><span class="calendarCopy" id="time1">copy</span></td>
							<td><span class="calendarClear" id="time1">clear</span></td>
						</tr>
						<tr>
							<th>Miercoles</th>
							<td><input type="time" id="time20"></td>
							<td><input type="time" id="time21"></td>
							<td><input type="time" id="time22"></td>
							<td><input type="time" id="time23"></td>
							<td><span class="calendarCopy" id="time2">copy</span></td>
							<td><span class="calendarClear" id="time2">clear</span></td>
						</tr>
						<tr>
							<th>Jueves</th>
							<td><input type="time" id="time30"></td>
							<td><input type="time" id="time31"></td>
							<td><input type="time" id="time32"></td>
							<td><input type="time" id="time33"></td>
							<td><span class="calendarCopy" id="time3">copy</span></td>
							<td><span class="calendarClear" id="time3">clear</span></td>
						</tr>
						<tr>
							<th>Viernes</th>
							<td><input type="time" id="time40"></td>
							<td><input type="time" id="time41"></td>
							<td><input type="time" id="time42"></td>
							<td><input type="time" id="time43"></td>
							<td><span class="calendarCopy" id="time4">copy</span></td>
							<td><span class="calendarClear" id="time4">clear</span></td>
						</tr>
						<tr>
							<th>Sabado</th>
							<td><input type="time" id="time50"></td>
							<td><input type="time" id="time51"></td>
							<td><input type="time" id="time52"></td>
							<td><input type="time" id="time53"></td>
							<td><span class="calendarCopy" id="time5">copy</span></td>
							<td><span class="calendarClear" id="time5">clear</span></td>
						</tr>
						<tr>
							<th>Domingo</th>
							<td><input type="time" id="time60"></td>
							<td><input type="time" id="time61"></td>
							<td><input type="time" id="time62"></td>
							<td><input type="time" id="time63"></td>
							<td><span class="calendarCopy" id="time6">copy</span></td>
							<td><span class="calendarClear" id="time6">clear</span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="form-row nav-photos-tab">
				<div class="col-12">
					<h3>Fotos</h3>
				</div>

				<div id="GridPhotos"></div>

			</div>




		</div>


	</div>

</form>


<div class=" tab-edit">

	@if (Model.Code != null)
	{
		<div class="row nav-photos-tab">
			<div class="col-6">
				<form action="/Admin/Places/PhotoAdd/@Model.Code" method="post" enctype="multipart/form-data" id="form-photo">
					<input type="File" name="File"><br><br>
					<input type="submit" value="Subid Fotos">
				</form>
			</div>
			<div class="col-6"></div>
			<div class="col-6">
				<div class="progress">
					<div class="bar"></div>
					<div class="percent">0%</div>
				</div>

				<div id="photo_status"></div>
			</div>
		</div>

	}

	<div class="col-12 nav-photos-tab">
		<div class="form-row">
			<div class="col-md-8 mb-8">


			</div>

		</div>
	</div>

</div>


<div class="tab-edit" style="		height: 50px">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>

</div>
