﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Admin.BE;
@{
	ViewBag.Title = "Diccionarios";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
	var provinces = (List<DICProvinceBE>)ViewData["Provinces"];
	var categories = (List<DICValueBE>)ViewData["Categories"];
	var baileTags = (List<DICValueBE>)ViewData["BaileTags"];
}
@section ScriptsCSS {

	@Html.CSSGetFileName(new List<string> { "Scripts/admin_css/map/leaflet.css" })
	<style>

		#map_canvas {
			height: 350px;
			width: 100%;
			position: absolute;
			top: 110px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			display: none;
		}
	</style>

}
@section ScriptsJS {
	@Html.JSGetFileName(new List<string> { "Scripts/admin_js/map/leaflet.js", "Views/Admin/Places/Places.js" })
}
<h1>Locales</h1>
<div class=" container-fluid">
	<div class="row">
		<div class="col-2">
			<input type="text" id="filterName" class="form-control" placeholder="Nombre" />
		</div>
		<div class="col-2">
			<select type="text" id="filterProvince" class="form-control">
				<option value="" selected="selected">-- Filtrar por Provincia --</option>
				@foreach (var p in provinces)
				{
					<option value="@p.Code">@p.Name</option>
				}
			</select>
		</div>
		<div class="col-2">
			<select type="text" id="filteCategory" class="form-control">
				<option value="" selected="selected">-- Seleccionar --</option>
				@foreach (var p in categories)
				{
					<option value="@p.Code">@p.Name</option>
				}
			</select>
		</div>
		<div class="col-2">
			<select type="text" id="filteBaileTags" class="form-control">
				<option value="" selected="selected">-- Seleccionar --</option>
				@foreach (var p in baileTags)
				{
					<option value="@p.Code">@p.Name</option>
				}
			</select>
		</div>
		<div class="col-3">
			<a href="#" class="btn btn-default" onclick="GridMainStart();">Buscar</a>
			<a href="/Admin/places/Edit/" class="btn btn-default" target=_blank>Añadir</a>
		</div>
		<div class="col-1">
			<a href="#" id="btnList" class="btn btn-default" onclick="ListShow();" style="display:none">List</a>
			<a href="#" id="btnMap" class="btn btn-default" onclick="MapShow();">Mapa</a>
		</div>
	</div>
</div>

<br />
<section class="ng-scope">
	<div id="gridContent" class="section-grid">
		<table id="GridMain"></table>
	</div>


	<div id="map_canvas"></div>

</section>
