﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Admin.BE;
@{
	ViewBag.Title = "Diccionarios";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
	var provinces = (List<DICProvinceBE>)ViewData["Provinces"];
	var categories = (List<DICValueBE>)ViewData["Categories"];
	var baileTags = (List<DICValueBE>)ViewData["BaileTags"];
}
@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Scripts/admin_js/map/leaflet.js" })
	<style>
		#map_canvas {
			height: 350px;
			width: 100%;
			position: absolute;
			top: 110px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			display: none;
		}
	</style>

}

@section ScriptsJS {
	@Html.JSGetFileName(new List<string> { "Scripts/admin_js/map/leaflet.js", "Views/Admin/Places/PlacesTMP.js" })
}

<h1>Locales TMP</h1>
<div class=" container-fluid">

	<div class="row">
		<div class="col-2">
			<input type="text" id="filterName" class="form-control" placeholder="Nombre" />
		</div>
		<div class="col-2">
		</div>
		<div class="col-2">
		</div>
		<div class="col-2">
		</div>
		<div class="col-2">
		</div>
		<div class="col-2">
			<a href="#" class="btn btn-default" onclick="GridMainStart();">Buscar</a>
		</div>
	</div>
</div>

<br />
<section class="ng-scope">
	<div id="gridContent" class="section-grid">
		<table id="GridMain"></table>
	</div>


	<div id="map_canvas"></div>

</section>
