﻿@using LVEBWeb.Helpers
@model LVEBWeb.App_Core.Main.Model.SessionUserModel
@{
	ViewData["Title"] = "Manager";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Submenu"] = "";
}
@{
	var action = ViewData["Action"].ToString();
}
@section ScriptsCSS {

	@Html.CSSGetFileName(new List<string> { "Views/User/Index.css" })
}
@section ScriptsJS{

}
<div class="jumbotron">
	<div class="container">
		<div class=" justify-content-center">
		</div>
	</div>
</div>
<main role="main" class="container">
	<div class="row box-top">
		<div class="col-12">
			<h2>
				Preferencias de usuario.
			</h2>
		</div>
	</div>
	@if (action == "ManagerGetAccess")
	{

		<div class="row">
			<div class="col-12">
				<div class="alert alert-success" role="alert">
					Hemos recibido su mensaje. Le informaremos lo antes posible.
				</div>
			</div>
		</div>
	}

	<div class="row box-top">
		<div class="col-12">
			<h5>Cuenta de usuario</h5>
		</div>

		<div class="col-md-6">
			<div class="col-12">
				<label for="UserName">Nombre</label>
				<input type="text" id="UserName" name="UserName" value="@Model.UserName" class="form-control" required />
			</div>
			<div class="col-12">
				<label for="UserEmail">Email</label>
				<input type=text id="UserEmail" name="UserEmail" value="@Model.UserEmail" class="form-control" required />
			</div>
		</div>
		<div class="col-md-6">
			@using (Html.BeginForm("ManagerGetAccess", "User"))
			{

				<div class="col-12">
					<label for="">Acceso manager</label>
					<p>Para comenzar a publicar eventos hemos de validar que tienes permisos para publicar información en alguna escuela o sala de baile. </p>
				</div>
				<div class="col-12">
					<label for="Message">Indica nombre de local y datos de contacto</label>
					<textarea type=text id="Message" name="Message" class="form-control"></textarea>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-success">Solicitar Acceso</button>
				</div>
			}
		</div>
	</div>
	</div>
</main>



<partial name="PartialModal">
