﻿/*.map-iframe {
    padding: 15px;
}*/

.jumbotron {
    background-image: url("/photos/bailando3.jpg");
    background-color: #cccccc;
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -70px;
}

.justify-content-center {
    text-align: center;
}

.jumbotron h1 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-style: italic;
    color: white;
    line-height: 70px;
    font-weight: 600;
    font-size: 40px;
}

.rounded {
    margin-bottom: 10px;
}

.box-top {
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #e2e2e2;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 10px;
}

    .box-top .title {
        font-size: 24px;
        font-weight: bold;
        margin: 0px;
        margin-top: 10px;
    }


    .box-top .des {
        margin-top: 10px;
        font-family: OpenSans;
        font-size: 15px;
    }


.submenu {
    list-style: none;
    float: left;
    margin: 0px;
}

    .submenu .nav-item {
        float: left;
    }

    .submenu a {
        color: black;
        font-size: 16px;
        padding: 0px 10px;
    }

        .submenu a.active {
            background: gainsboro;
            border-radius: 20px;
        }


.submenu-btns {
    float: right;
}

    .submenu-btns .btn {
        margin: 0px;
    }

#map_canvas {
    height: 250px;
    width: 100%;
    position: relative;
    z-index: 4;
}


h5 {
    width: 100%;
    padding-left: 15px;
    border-bottom: 1px solid gainsboro;
}

.address {
    margin-bottom: 10px;
    margin-top: 5px;
}

.btn {
    margin-bottom: 0px;
}

textarea {
    min-height: 250px;
}

.toggle {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    border: 1px solid #ced4da;
}

.toggle-handle {
    background: white;
    border: 1px solid gainsboro;
}



.event-file .custom-file-input:lang(es) ~ .custom-file-label::after {
    content: "Elegir";
}
