﻿@{
	ViewData["Title"] = "Política de privacidad";
	ViewData["PageName"] = "Privacy";
}
@{

	var content = @"LaVidaEsBaile.com (“LaVidaEsBaile”, “nosotros”, “nuestro”, “nos”) es un servicio online que proporciona a los usuarios (“usted”) información sobre escuelas, salas y eventos relacionados con el baile.
Al acceder a nuestros Sitios web y utilizar nuestros servicios, usted reconoce que ha leído y comprendido la presente Política de privacidad, así como las prácticas de recopilación y tratamiento de la información que se describen en ella.
Esta Política de privacidad se modificó por última vez el 1 de junio de 2019. Es posible que efectuemos cambios en la presente Política de privacidad de manera periódica; por ello, le recomendamos que la revise con regularidad para mantenerse informado de cualquier cambio.
<b>Resumen</b>
La presente Política de privacidad describe detalladamente nuestra política y nuestras prácticas en relación con la recopilación, el uso y la divulgación de sus datos personales.
Entendemos que proporcionar información en línea implica un alto grado de confianza por su parte. Por eso, nos tomamos esta confianza muy en serio y es nuestra máxima prioridad garantizar la seguridad y la confidencialidad de los datos personales que nos proporciona cuando visita nuestro Sitio web o cuando utiliza nuestros servicios.
<ul><li>Recopilación de sus datos personales</li>
<li>Qué uso le damos a sus datos personales</li>
<li>Con quién compartimos sus datos personales</li>
<li>Durante cuánto tiempo conservamos sus datos personales</li>
<li>Cookies y otras tecnologías web</li>
<li>Sus derechos</li>
<li>Cómo protegemos sus datos personales</li>
<li>Información relativa a menores de edad</li>
<li>Enlaces externos</li>
<li>Transferencias internacionales</li>
<li>Cambios en la presente Política de privacidad</li>
<li>Cómo puede ponerse en contacto con nosotros</li></ul>

<b>1.      Recopilación de sus datos personales</b>
Los datos personales hacen referencia a cualquier información sobre un individuo a partir de la cual puede ser identificado, como direcciones de correo electrónico, fecha de nacimiento, contraseña e información de pago. Esta información no incluye los datos resultantes cuando la identidad haya sido eliminada o haya sido anonimizada en otros casos (datos anónimos).
Durante el transcurso de nuestras operaciones, recopilamos y tratamos los datos personales de diferentes formas. Podremos recopilar los datos personales que nos facilite directamente, pero también podremos recopilarlos haciendo un registro del uso que haga de nuestros servicios, como por ejemplo al usar cookies en nuestros Sitios web. También podremos recibir información de terceros con los que colaboremos, según se explica detalladamente más adelante.
Los datos personales que recopilemos sobre usted podrán ser, entre otros: su nombre, dirección de correo electrónico, dirección postal, número de teléfono, información de facturación, respuestas a encuestas, datos de preferencias de baile y otra información que pueda proporcionar sobre usted en nuestros Sitios web, así como su dirección IP y el software del navegador.
Puede usted optar por no facilitarnos dichos datos personales. Sin embargo, tendrá que facilitarnos de forma general determinada información sobre usted a fin de hacer uso de muchas de las funcionalidades de nuestros Sitios web. Por ejemplo, solo los miembros registrados pueden publicar eventos y enviar contenido a la web, acceder a los boletines de noticias y al contenido personalizado sobre enveros de baile. Además, también se requiere determinada información para que pueda plantearnos cuestiones o iniciar otras transacciones en nuestros Sitios web. También recopilamos datos personales por razones de seguridad.
Información que nos facilita: como se describe más adelante, podemos recibir y almacenar toda la información que usted introduce en nuestro Sitio web o que nos facilita de cualquier otra manera.

Información sobre otras personas: Tendrá la opción de proporcionar información, ya sea de contacto o relacionada con eventos o clases de baile, a otras personas a través de nuestros Sitios web.

Recopilación automática de información: Recopilamos automáticamente cierta información de su ordenador o dispositivo móvil cuando visita LaVidaEsBaile. Por ejemplo, recopilamos los datos de su sesión, como su dirección IP, el software del navegador utilizado y el sitio web de referencia. También es posible que recopilemos información acerca de su actividad online, como el contenido visualizado, las páginas visitadas y las búsquedas. Recopilamos este tipo de información de forma automática para intentar entender mejor sus intereses y preferencias y para personalizar mejor su experiencia.  También recopilamos sus datos personales a fin de proteger nuestro sitio web y a otros usuarios de un uso indebido de ellos.

Información sobre la ubicación y otros datos de dispositivos: Cuando use nuestros Sitios web en un dispositivo, ya sea a través de una página web o una aplicación para dispositivos móviles, recopilaremos y utilizaremos la información sobre usted, en general, de la misma manera y para los mismos propósitos que cuando utiliza el Sitio web de LaVidaEsBaile. Además, podremos recopilar determinada información sobre su ubicación si ha autorizado a su dispositivo para que pueda enviar dicha información a la aplicación a través de la configuración de privacidad del dispositivo, o si ha subido fotos etiquetadas con información sobre la ubicación. Por ejemplo, podremos utilizar su ubicación para mostrarle locales cercanos o eventos que se encuentren cerca de usted. Podrá cambiar la configuración de privacidad de su dispositivo en cualquier momento con el fin de desactivar la funcionalidad de compartir información de la ubicación con la aplicación y/o la funcionalidad de etiquetar sus fotos con información de la ubicación. Tenga en cuenta que desactivar el uso compartido de la ubicación puede afectar a determinadas características de nuestra aplicación o entorno móvil. Si tiene alguna duda acerca de la configuración de privacidad de su dispositivo, le sugerimos que se ponga en contacto con el fabricante del dispositivo o con su proveedor de servicios para dispositivos móviles a fin de obtener ayuda.
<b>2.      Qué uso le damos a sus datos personales</b>
Utilizamos los datos personales que recopilamos sobre usted solamente para fines específicos. Entre dichos fines se incluyen los siguientes: ofrecerle nuestros servicios, gestionar su registro y su cuenta, como el acceso a nuestros Sitios web y su uso y la publicación de opiniones, puntuaciones y fotos; gestionar y facilitar las solicitudes de información de reservas y las propias reservas; comunicarnos con usted en relación con su cuenta o el uso de nuestros Sitios web y servicios; responder a sus comentarios y preguntas o darles seguimiento, y, en caso necesario, ayudarle a través de nuestro servicio de atención al cliente; informarle de los cambios realizados en nuestras condiciones o nuestra política de privacidad; solicitarle que deje una opinión o participe en una encuesta; gestionar y mejorar nuestros Sitios web y servicios, personalizar su experiencia en nuestros Sitios web; medir su interés en nuestros Sitios web y servicios, así como mejorarlos; ponerle al corriente sobre promociones y ofertas especiales; permitirle participar en sorteos de premios o competiciones o completar una encuesta; establecer medidas de protección, investigación y disuasión frente a actividades fraudulentas, ilegítimas, no autorizadas o ilegales; administrar y proteger nuestro negocio; y resolver disputas o solventar problemas.
Solo usaremos sus datos personales con arreglo a lo establecido en la ley. En la mayoría de los casos, utilizaremos sus datos personales en las siguientes circunstancias:
Cuando necesitemos ejecutar el contrato que estamos a punto de firmar o que firme con nosotros.
Cuando sea necesario para la consecución de nuestros intereses legítimos (o los de un tercero), siempre que dichos intereses no contravengan sus intereses ni vulneren sus derechos fundamentales.
Cuando recibamos su consentimiento.
Cuando necesitemos cumplir una obligación legal o reglamentaria.
Marketing
Queremos que le resulte fácil aprovecharse de las oportunidades relacionadas con el baile que se encuentran disponibles en nuestros sitios web. Uno de los métodos que utilizamos para conseguirlo es el envío de mensajes de correo electrónico que contienen información sobre sus intereses relacionados con clases o eventos de baile. Por ejemplo, cuando busque un clases de Barcelona en nuestros sitios web, es posible que le enviemos un mensaje de correo electrónico sobre clases de baile y eventos relacionados. Creemos que estos mensajes de correo electrónico le proporcionarán información útil sobre las ofertas especiales relacionadas con actividades de baile disponibles a través de nuestros sitios web.
Recibirá mensajes de marketing de nosotros si ha dado su consentimiento, si lo ha solicitado o si ha adquirido bienes o servicios nuestros y si no ha renunciado a recibir mensajes de marketing.
Cada vez que recibe un correo electrónico de esta clase, podrá indicarnos si no desea recibirlos más, o rechazar las notificaciones automáticas en la aplicación o modificar los ajustes de su dispositivo móvil con este fin para ese tipo de mensaje o notificación de marketing. Podrá cancelar la suscripción de cada una de estas comunicaciones de marketing en cualquier momento haciendo clic en el enlace de cancelación de suscripción, que podrá encontrar en la parte inferior de cada comunicación que reciba de nosotros o visitando el centro de preferencia de correos electrónicos en el Sitio web.
Tenga en cuenta que puede que le sigamos enviando comunicaciones de servicios, como mensajes administrativos y de servicios acerca de su cuenta o mensajes comprensivos del acuerdo en relación con alguna de sus actividades. No es posible darse de baja de estas comunicaciones de servicio.
<b>3.      Con quién compartimos sus datos personales</b>
LaVidaEsBaile puede compartir su información con otras partes, incluidas otras empresas del grupo y los tipos de terceros que se indican a continuación. Por ejemplo, si vendemos o enajenamos nuestra empresa o cualquier parte de ella, y sus datos personales se relacionan con dicha parte vendida o enajenada de nuestra empresa, o si la fusionamos con otra empresa, compartiremos sus datos personales con el nuevo propietario de la empresa o nuestro socio de fusión, respectivamente.
De forma separada, si estamos obligados legalmente a hacerlo, compartiremos datos personales para proteger a nuestros clientes, el sitio, así como nuestra empresa y nuestros derechos y propiedades.
Si decide crear un perfil en LaVidaEsBaile, determinada información de su perfil podrá verse e identificarse públicamente al hacer clic en su nombre de pantalla. Tendrá la posibilidad de ver su perfil del mismo modo que lo verán los miembros del público.
Proveedores, entre los que se incluyen, escuelas de baile, salas de baile, tiendas y los locales a asociados a la web. En LaVidaEsBaile y en sus sitios web afiliados, todos los productos y servicios proporcionados por terceros proveedores se describen como tales. La información que compartimos con los proveedores para facilitar las reservas se tratará de acuerdo con las políticas de privacidad aplicables de los proveedores, a excepción de la información de pago. La información de pago no es compartida en ningún caso. En algunos casos, dirigiremos su consulta al sitio web de un tercero o transmitiremos de forma segura su información al proveedor de la reserva del viaje para completar la transacción. Usted acepta revisar y estar sujeto a las políticas y los procedimientos del proveedor antes de realizar una reserva a través de LaVidaEsBaile. Le recomendamos que revise las políticas de privacidad, las condiciones de uso y cualquier otra política de los proveedores de clases y eventos cuyos productos y servicios pueda adquirir a través de LaVidaEsBaile. Tenga en cuenta que también es posible que estos proveedores se pongan en contacto con usted, si es necesario, para obtener información adicional sobre usted o sus solicitudes, para facilitarle las reservas de clases o para otros propósitos, en función de los procedimientos que se describan en sus políticas de privacidad y sus condiciones de uso.
Terceros proveedores de servicios que proporcionen servicios o funciones en nuestro nombre, incluidos el análisis comercial, el procesamiento de pagos, el servicio de atención al cliente, el marketing, las relaciones públicas, la distribución de encuestas o de programas de sorteos y la prevención de fraudes. Además, es posible que autoricemos a terceros proveedores de servicios para recopilar información en nuestro nombre, lo que incluye, por ejemplo, la necesaria para utilizar las características de nuestro Sitio web o para facilitar la distribución de publicidad online adaptada a sus intereses. Los terceros proveedores de servicios pueden recopilar y tener acceso únicamente a la información necesaria para realizar sus funciones, pero no tienen permiso para compartir o utilizar la información con ningún otro propósito.
Socios comerciales con los que podemos ofrecer productos o servicios de manera conjunta. Usted puede saber si un tercero está vinculado a un producto o servicio de los que ha solicitado porque su nombre aparecerá junto con el nuestro o por separado. Si elige acceder a estos servicios opcionales, es posible que compartamos con dichos socios información sobre usted, incluidos sus datos personales. Tenga en cuenta que no controlamos las prácticas de privacidad de estos socios comerciales externos.

También es posible que compartamos su información si consideramos, a nuestra total discreción, que dicha divulgación es necesaria:
para cumplir con citaciones, resoluciones judiciales legítimas y aplicables u otros procesos legales; para establecer o ejercer nuestros derechos legales; para defendernos de demandas legales; o en otros casos en que la ley lo exija. En tales casos, nos reservamos el derecho de interponer cualquier objeción legal o ejercitar los derechos que nos correspondan, así como desistir de los mismos;
para investigar, prevenir o tomar medidas con respecto a las actividades ilegales o presuntamente ilegales; para proteger y defender los derechos, los bienes o la seguridad de LaVidaEsBaile, de nuestros clientes o de terceros; y en relación con nuestras Condiciones de uso y otros acuerdos; o
en el contexto de una transacción corporativa, como una cesión, fusión, consolidación o venta de activos, o en el caso poco probable de bancarrota.
Además de lo establecido anteriormente, recibirá una notificación cuando sus datos personales vayan a compartirse con terceros y podrá elegir si desea que no compartamos dicha información.
También es posible que compartamos información anónima o agregada con terceros, como anunciantes o inversores. Por ejemplo, podremos comunicar a nuestros anunciantes el número de visitantes que recibe nuestro Sitio web o los clases o eventos publicados y visualizados. Esta información no contiene ningún dato personal y se utiliza para desarrollar contenido y servicios que esperamos que sean de su interés.
<b>4.      Durante cuánto tiempo conservamos sus datos personales</b>
Solo conservaremos sus datos personales el tiempo necesario para cumplir los fines por los que la hayamos recopilado, incluidos los fines para satisfacer cualquier requisito legal, contable y de presentación de informes reglamentarios.
Con el propósito de determinar el período de retención apropiado, tenemos en cuenta la cantidad, la naturaleza y el grado de confidencialidad de los datos personales, el riesgo potencial de daños originados por el uso o divulgación no autorizados de sus datos personales, los fines por los que tratemos dichos datos y si podemos alcanzar dichos fines mediante otros medios, así como las disposiciones legales vigentes.
Podremos conservar cierta información posterior al cierre de su cuenta, por ejemplo, si es necesario para cumplir o aplicar nuestras obligaciones legales, para mantener la seguridad, para impedir fraudes y usos indebidos y para defender o hacer cumplir nuestros derechos. Si decide cerrar su cuenta, por lo general sus datos personales dejarán de ser visibles para otras personas en nuestro Sitio web en un plazo de 30 días.
<b>5.      Cookies y otras tecnologías web</b>
Recopilamos información a través del uso de cookies y otras tecnologías similares (como las balizas web). Las cookies son pequeños archivos de texto que se guardan automáticamente en su ordenador o dispositivo móvil cuando visita un sitio web. Se almacenan a través del navegador de Internet. Las cookies contienen información básica acerca de su uso de Internet. El navegador envía estas cookies de nuevo a nuestro Sitio web cada vez que usted lo visita, de modo que este pueda reconocer su ordenador o su dispositivo móvil y, con ello, personalizar y mejorar su experiencia de navegación.
Puede encontrar información más detallada acerca de qué cookies y tecnologías similares (como las balizas web) utilizamos en nuestra Política de cookies.
También podrá obtener más información sobre cookies en general, incluso sobre cómo ver qué cookies se instalan en su dispositivo (móvil) y cómo gestionarlas y eliminarlas en sitios web tales como www.allaboutcookies.org y www.youronlinechoices.com/es/.
<b>6.      Sus derechos</b>
Podrá consultar, completar o poner al día la información que nos haya facilitado si accede a la sección “Ajustes” de su cuenta. También puede cerrar su cuenta de LaVidaEsBaile poniéndose en contacto con nosotros utilizando los métodos indicados a continuación.
Si decide cerrar su cuenta, nosotros la desactivaremos y eliminaremos sus datos personales. Recuerde que una vez que haya cerrado su cuenta, ya no podrá iniciar sesión ni acceder a su información personal. No obstante, podrá abrir una cuenta nueva en cualquier momento.
Es posible que ofrezcamos a los miembros la opción de guardar la información relacionada con la elección y el método de pago en nuestro Sitio web. Si guarda tales detalles de pago en su cuenta de LaVidaEsBaile, podrá añadir, eliminar o modificar esta información en cualquier momento mientras su cuenta permanezca activa en Configuración de la cuenta.
Puede cambiar sus preferencias de marketing en cualquier momento mientras su cuenta permanezca activa a través de la página Suscripciones de su cuenta de miembro.
De acuerdo con la ley aplicable, puede ejercer sus derechos de acceso, rectificación, eliminación, restricción del tratamiento, portabilidad de los datos y oposición. Consulte más detalles a continuación para saber cómo y cuándo ejercer sus derechos. Responderemos a su solicitud en un plazo de un mes, pero podremos ejercer nuestro derecho a ampliarlo dos meses.
De acuerdo con la ley aplicable, usted puede tener los siguientes derechos en relación con sus datos personales:
Derecho a solicitar acceso a sus datos personales. Este derecho le permite recibir una copia de los datos personales sobre usted que tengamos en nuestra posesión y comprobar que les estamos dando el tratamiento adecuado según lo dispuesto en la ley.

Derecho a solicitar la corrección de sus datos personales si no son correctos. También puede complementar cualquier dato personal incompleto que tengamos, teniendo en cuenta los objetivos del procesamiento.

Derecho a solicitar la eliminación de sus datos personales si:

sus datos personales ya no son necesarios para los fines para los que los recopilamos o tratamos;

retira su consentimiento en caso de que el tratamiento de sus datos personales se haya autorizado mediante consentimiento y no se aplique ningún otro fundamento jurídico;

se opone a que se traten sus datos personales y no prevalecen otros motivos legítimos para el tratamiento;

sus datos personales no se han tratado con arreglo a lo dispuesto en la ley; o

sus datos personales tienen que ser eliminados para cumplir con una disposición legal.

Derecho a objetar al procesamiento de sus datos personales. Daremos el visto bueno a su solicitud, a menos que tengamos un interés legítimo de peso para el tratamiento de sus datos personales o necesitemos seguir dicho tratamiento para reconocer, ejercer o defender nuestros derechos frente a una demanda legal.

Derecho a restringir el procesamiento de datos personales si:
presenta una alegación por errores en sus datos personales durante el período en que tengamos que verificar que sus datos personales son correctos;

los datos no se han tratado con arreglo a lo dispuesto en la ley y se opone a la eliminación de sus datos personales y solicita su restricción;

dejamos de necesitar sus datos personales a efectos de su tratamiento, pero solicita la obtención de sus datos personales mediante demanda legal; o

se ha opuesto al tratamiento durante el período en que tenemos que verificar si prevalecen otros motivos legítimos.
Derecho a la portabilidad de los datos. Puede solicitarnos que recibamos los datos personales que le afectan. También puede solicitarnos que enviemos estos datos personales a un tercero, cuando sea viable. Usted solamente tiene este derecho si contempla datos personales que nos ha proporcionado, el procesamiento se basa en un consentimiento o es necesario para la formalización de un contrato entre usted y nosotros, y el procesamiento se realiza por medios automatizados.
Puede ejercer varios de sus derechos mediante la sección de información personal de su cuenta.
No tendrá que pagar una tarifa por acceder a sus datos personales (ni ejercer ninguno de los demás derechos descritos en esta Política de privacidad). No obstante, podremos cobrarle una tasa razonable si su solicitud es manifiestamente infundada, repetitiva o desmedida.
Podremos vernos en la necesidad de solicitarle información específica que nos ayude a confirmar su identidad y garantizar su derecho a acceder a sus datos personales (o a ejercer el resto de sus derechos). Esta es una medida de seguridad destinada a garantizar que sus datos personales no sean revelados a otra persona que no tenga derecho a recibirlos. En un esfuerzo por agilizar nuestra respuesta, es posible que nos pongamos en contacto con usted para pedirle información adicional en relación con su solicitud.
<b>7.      Cómo protegemos sus datos personales</b>
Deseamos que se sienta seguro al utilizar LaVidaEsBaile y nos comprometemos a proteger los datos personales que recopilamos. Aunque ningún sitio web puede garantizar una seguridad perfecta, hemos implementado y mantenemos medidas físicas, administrativas, técnicas y organizativas apropiadas para proteger los datos personales que nos proporciona frente al acceso no autorizado o ilegal, al uso o revelación de información y contra pérdidas, daños, alteraciones o destrucciones accidentales.
Por ejemplo, solo los empleados autorizados pueden acceder a los datos personales y solo pueden hacerlo para llevar a cabo funciones empresariales permitidas. Asimismo, utilizamos la codificación para transmitir sus datos personales entre nuestro sistema y el suyo, así como entre nuestro sistema y el de las partes con las que compartimos la información confidencial; además, utilizamos cortafuegos y sistemas de detección de intrusos para evitar que personas no autorizadas tengan acceso a sus datos personales.
<b>8.      Información relativa a menores de edad</b>
LaVidaEsBaile es un sitio web para el público en general y no ofrece servicios dirigidos a menores. No recopilamos deliberadamente datos relacionados con menores de edad. En caso de que sepamos que una persona menor de 13 años nos ha enviado datos personales, eliminaremos o destruiremos dicha información tan pronto como sea razonablemente posible.
<b>9.      Enlaces externos</b>
Es posible que nuestro Sitio web incluya enlaces a sitios web, complementos y aplicaciones de terceros. Si accede a otros sitios web desde los enlaces proporcionados en nuestro Sitio web, los operadores de dichos sitios web podrán recopilar o compartir información sobre usted. Esta información se usará de conformidad con su política de privacidad, que podrá diferir de la nuestra. Nosotros no controlamos esos sitios web de terceros y recomendamos que examine las declaraciones de privacidad publicadas en otros sitios web para conocer sus procedimientos a la hora de recopilar, utilizar y divulgar datos personales.
<b>10.    Transferencias internacionales</b>
Sus datos personales se pueden guardar en o transferir a países fuera del Área Económica Europea para los fines descritos en esta Política de privacidad. Cuando guardamos o transferimos sus datos personales fuera del Área Económica Europea, tomamos las precauciones siguientes para garantizar que sus datos personales se protegen debidamente.
Siempre que almacenemos o transfiramos sus datos personales fuera del Espacio Económico Europeo, lo haremos de conformidad con la ley vigente y nos aseguraremos de que recibe el mismo nivel de protección mediante la implantación de medidas de seguridad adecuadas. Las transferencias de datos personales se realizarán:
a países reconocidos por la Comisión Europea por proporcionar un nivel adecuado de protección; o
a países que no ofrecen una protección adecuada, pero cuya transferencia se ha regido por las cláusulas contractuales estándar de la Comisión Europea o mediante la implementación de otras soluciones de transferencias transfronterizas apropiadas para proporcionar un nivel de protección idóneo.
Al utilizar nuestros servicios, usted acepta que sus datos personales se puedan transferir a nuestras instalaciones y a las de aquellos terceros con los que los compartimos, tal y como se describe en la presente Política de privacidad.
<b>11.    Cambios en la presente Política de privacidad</b>
LaVidaEsBaile puede cambiar o modificar esta Política de privacidad de vez en cuando. En la primera página de esta Política de privacidad, indicaremos la fecha en la que se realizaron las últimas revisiones a la presente Política de privacidad y todas ellas tendrán efecto inmediato después de su publicación. Notificaremos a nuestros miembros todos los cambios importantes que se realicen en la presente Política de privacidad mediante el envío de un aviso a la dirección de correo electrónico que nos hayan proporcionado o mediante la publicación de un aviso en nuestro Sitio web. Le recomendamos que consulte la presente Política de privacidad periódicamente para consultar la última versión.
<b>12.    Cómo puede ponerse en contacto con nosotros</b>
Si tiene preguntas o quejas relacionadas con nuestro procesamiento de sus datos personales, haga clic en este enlace. Asimismo, puede ejercer su derecho de presentar una reclamación a la autoridad supervisora sobre la forma en que tratamos sus datos personales. No obstante, agradeceríamos que nos diese la oportunidad de tratar estas cuestiones con usted antes de acudir a la autoridad supervisora. Por ello, le rogamos que primero se ponga en contacto con nosotros.

Nuestros datos de contacto son los siguientes:

La Vida Es Baile
Carrer de Torres i Amat, 21, 4C
08001 Barcelona, Spain".Split("\n");
}
<header class="d-flex flex-column flex-md-row align-items-md-center p-5 bg-light">
	<div class="pt-md-3 pb-md-4">
		<h1 class="bd-title mt-0">Política de privacidad</h1>
	</div>
	<br>
</header>
<div class="container body-content">

	<div class="container">
		<br>
		@foreach (var line in content)
		{
			<p>
				@Html.Raw(line)
			</p>
		}

	</div>
</div>
