body {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428;
    min-width: 1010px;
}

#body {
    right: 0px;
    padding-top: 0;
    top: 36px;
    position: absolute;
    left: 0px;
    max-width: 1200px;
    min-width: 900px;
}

.page-title {
    width: 100%;
    z-index: 5;
    background: white;
}

    .page-title h2 {
        border-bottom: 1px solid gainsboro;
        padding-left: 15px;
        margin-bottom: 0px;
        font-size: 19px;
        padding-top: 15px;
        padding-bottom: 10px;
    }


.page-filter {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: gainsboro;
}
/* MENU Start */
nav {
    display: block;
    text-align: center;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

.nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: .8em 1.8em;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
    position: relative;
    text-align: left;
}

.nav ul {
    background: #376672;
    text-shadow: 0 -1px 0 #00b1dd;
}

.nav {
    vertical-align: top;
    display: inline-block;
    box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;
    border-radius: 6px;
}

    .nav li {
        position: relative;
    }

    .nav > li {
        float: left;
        margin-right: 1px;
    }

        .nav > li > a {
            margin-bottom: 1px;
        }

        .nav > li:hover, .nav > li:hover > a {
            border-bottom-color: orange;
        }

    .nav li:hover > a {
        color: orange;
    }

    .nav > li:first-child {
        border-radius: 4px 0 0 4px;
    }

        .nav > li:first-child > a {
            border-radius: 4px 0 0 0;
        }

    .nav > li:last-child {
        border-radius: 0 0 4px 0;
        margin-right: 0;
    }

        .nav > li:last-child > a {
            border-radius: 0 4px 0 0;
        }

    .nav li li a {
        margin-top: 1px
    }



    .nav li a:first-child:nth-last-child(2):before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border: 5px solid transparent;
        top: 50%;
        right: 5px;
    }





    /* submenu positioning*/
    .nav ul {
        position: absolute;
        white-space: nowrap;
        border-bottom: 5px solid orange;
        z-index: 1;
        left: -99999em;
    }

    .nav > li:hover > ul {
        left: auto;
        padding-top: 5px;
        min-width: 100%;
    }

    .nav > li li ul {
        border-left: 1px solid #fff;
    }


    .nav > li li:hover > ul {
        /* margin-left: 1px */
        left: 100%;
        top: -1px;
    }
    /* arrow hover styling */
    .nav > li > a:first-child:nth-last-child(2):before {
        border-top-color: #aaa;
    }

    .nav > li:hover > a:first-child:nth-last-child(2):before {
        border: 5px solid transparent;
        border-bottom-color: orange;
        margin-top: -5px
    }

    .nav li li > a:first-child:nth-last-child(2):before {
        border-left-color: #aaa;
        margin-top: -5px
    }

    .nav li li:hover > a:first-child:nth-last-child(2):before {
        border: 5px solid transparent;
        border-right-color: orange;
        right: 10px;
    }




h1 {
    padding: 10px 10px 5px !important;
    border-bottom: 1px solid;
    margin-bottom: 10px !important;
    border-color: gainsboro;
}


.nav-tabs {
    margin-top: 5px;
    width: 100%;
}

    .nav-tabs .nav-item {
        float: left;
        color: black;
    }
/* MENU End */
#content {
    right: 0;
    top: 37px;
    padding: 5px;
    position: fixed;
    bottom: 2px;
    left: 196px;
    overflow: auto;
}

#content-top {
    height: 30px;
}

#content-center {
}

footer {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 140px;
    border-top: 1px solid #ccc;
    background-color: #f5f5f5;
    padding-top: 20px;
}

    footer .content {
        margin: auto;
        width: 950px;
    }



#bck-full {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: gainsboro;
    z-index: 100;
    opacity: 0.5;
}

#bck-working {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(50,50,50,0.3);
    z-index: 2000;
    display: none;
    text-align: center;
}

    #bck-working-close, #bck-working div {
        margin-top: 65px;
    }



h1 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

#header {
    color: white;
}

    #header > #header-t {
        background: #376672;
        border-bottom: 1px solid #2e3d54;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 99;
        min-width: 900px;
    }

        #header > #header-t > div {
            color: #fff;
            padding: 0 10px;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: auto;
            /*width: 1150px;*/
            height: 35px;
            padding-right: 80px;
            padding-left: 40px;
        }

        #header > #header-t .nav-left {
            float: left;
        }

        #header > #header-t .nav-right {
            float: right;
        }

    #header > #header-c {
        background: #00b1dd;
        border-bottom: 1px solid #cccccc;
        height: 40px;
        padding-top: 37px;
        position: absolute;
        left: 198px;
        top: 0;
        right: 2px;
    }

        #header > #header-c > div {
            color: black;
            padding: 0 10px;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: auto;
            height: 45px;
        }

        #header > #header-c h1 {
            line-height: 45px;
        }

    #header > #header-b {
        background: #f5f5f5;
        border-bottom: 1px solid #cccccc;
    }

        #header > #header-b > div {
            padding: 0 10px;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: auto;
            width: 950px;
        }


        #header > #header-b nav {
            height: 33px;
            display: block;
            padding: 0;
            margin: 0;
            margin: auto;
            width: 950px;
        }

            #header > #header-b nav > ul {
                list-style: inside none;
                padding: 0;
                margin: 0;
                margin-left: 15px;
            }

                #header > #header-b nav > ul > li {
                    list-style: inside none;
                    padding: 0;
                    margin: 0;
                    float: left;
                    display: block;
                    position: relative;
                    line-height: 21px;
                    margin-left: 4px;
                    margin-right: 4px;
                    border: 1px solid transparent;
                }

                    #header > #header-b nav > ul > li > a {
                        outline: none;
                        display: block;
                        position: relative;
                        padding: 5px;
                        text-decoration: none;
                        margin: 2px 0 0;
                        color: black;
                    }

                    #header > #header-b nav > ul > li:hover,
                    #header > #header-b nav > ul > li.select {
                        background-color: white;
                        color: white;
                        border: 1px solid black;
                        border-radius: 4px;
                        margin-top: -1px;
                    }



table.filter {
    border: 1px solid;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 100%;
}


pre.json {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    background-color: white;
}

    pre.json .string {
        color: green;
    }

    pre.json .number {
        color: darkorange;
    }

    pre.json .boolean {
        color: blue;
    }

    pre.json .null {
        color: magenta;
    }

    pre.json .key {
        color: red;
    }




.form-control.error {
    border-color: #a94442;
}

.error {
    color: #a94442;
}

.awesomplete {
    width: 100%;
}

.has-text-centered, .text-center {
    text-align: center
}
