﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Admin.BE;
@{
	ViewBag.Title = "Exception Web";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	ViewData["Section"] = "Exceptions";
}
@section ScriptsJS {
	@Html.JSGetFileName(new List<string> { "Views/Admin/Tools/Exceptions.js" })
}

<h1>Exceptions</h1>
<div class="row">
	<div class="col-12 ">
		<div class="form-row nav-users-tab">
			<div class="col-md-12 mb-12" id="user_search">
				<div class="row">
					<div class="col-3">
						<label>Search method and message:<input type="search" id="txtFilter" class="form-control input-sm" aria-controls="datatable1"></label>

					</div>
					<div class="col-3">
						<button id="btnRefresh" class="btn-xs btn btn-primary">Refresh</button>

						<a href="/Admin/Tools/Exceptions_Clear">Clear</a>
					</div>
				</div>
				<table id="GridMain"></table>
				<div id="GridMainPager">
				</div>
			</div>
		</div>
	</div>
	<br>
</div>
