﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Http.Features

@{
	var consentFeature = Context.Features.Get<ITrackingConsentFeature>
	();
	var showBanner = !consentFeature?.CanTrack ?? false;
	var cookieString = consentFeature?.CreateConsentCookie();
}
@if (showBanner)
{
	<nav id="cookieConsent" class="navbar navbar-expand-lg fixed-top navbar-dark" role="alert">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cookieConsent .navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<span class="navbar-brand"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>
			</div>
			<div class=" navbar-collapse">
				<p class="navbar-text">
					@Localizer["PrivacyLine1"]
					<br>
					@Localizer["PrivacyLine2"]
				</p>
				<div class="navbar-right">
					<a href="/politica-privacidad" class="btn btn-outline-light navbar-btn" role="button" style="vertical-align: top;">@Localizer["Read more"]</a>
					<button type="button" class="btn btn-default navbar-btn" data-cookie-string="@cookieString">@Localizer["I agree"]</button>
				</div>
			</div>
		</div>
	</nav>
	<script>
(function () {
		document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
			document.cookie = el.target.dataset.cookieString;
			document.querySelector("#cookieConsent").classList.add("hidden");
		}, false);
	})();</script>
}
