﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Admin.BE;
@{

}
@{
	var hideMenu = false;
	if (ViewData["HideMenu"] != null)
	{
		hideMenu = (bool)ViewData["HideMenu"];
	}
}
<!DOCTYPE html>
<html>
<head>
	<title>La Vida Es Baile - @ViewBag.Title</title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	@Html.CSSGetAdmin()
	@RenderSection("ScriptsCSS", false)
	<link rel="shortcut icon" href="/ico/favicon.ico" />

	<link rel="apple-touch-icon" sizes="57x57" href="/ico/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/ico/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/ico/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/ico/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/ico/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/ico/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/ico/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/ico/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/ico/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
	<link rel="manifest" href="/ico/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ico/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	@if (!hideMenu)
	{
		<div id="header">
			<div id="header-t">
				<div>
					<div class="menu-top nav-left">
						<nav>
							<ul class="nav">
								<li>
									<a href="#">
										Busines
									</a>
									<ul>
										<li>
											<a href="/admin/companies">Empresas</a>
										</li>
										<li>
											<a href="/admin/users">Usuarios</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="/admin/places">Locales</a>
									<ul>
										<li><a href="/admin/PlacesTMP">Places TMP</a></li>
									</ul>
								</li>
								<li>
									<a href="#">
										Actividades
									</a>
									<ul>
										<li><a href="/admin/Competitions">Competiciones</a></li>
										<li><a href="/admin/Events">Eventos</a></li>
										<li><a href="/admin/EventsTMP">Eventos TMP</a></li>
									</ul>
								</li>
								<li>
									<a href="#">
										Tareas
									</a>
									<ul>
										<li><a href="/admin/TasksGroups">Grupo de tares</a></li>
									</ul>
								</li>
							</ul>
						</nav>

					</div>

					<div class="menu-top nav-right">
						<nav>

							<ul class="nav navbar-nav navbar-right">
								@if ((bool)ViewData["IsAdmin"])
								{
									<li>
										<a href="#">Admin</a>
										<ul>
											<li><a href="/admin/emails">Emails</a></li>
											<li><a href="/admin/secure/AdminUsers">Admin Users</a></li>
											<li>
												<a href="#">Conf</a>
												<ul>
													<li><a href="/admin/conf/diccionaries">Diccionarios</a></li>
													<li><hr /></li>

												</ul>
											</li>
											<li><a href="/admin/TasksGroups">Tasks Groups</a></li>

											<li><a href="/Admin/Tools/Exceptions">Exceptions</a></li>

										</ul>

									</li>

								}

								<li>
									<a href="/admin/logoff">Log Off</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>

		</div>
	}
	<div id="body" class="container-fluid">
		@RenderBody()
	</div>
	<div id="bck-full" style="display:none;"></div>
	<div id="bck-working">
		<div>
			<img src="/images/loading.gif">
			<br>
			Working...
		</div>
		<button id="bck-working-close" onclick="WorkingEnd();" class="btn btn-oval btn-default">Close</button>
	</div>


	@Html.JSGetAdmin()
	<script type="text/javascript">InfoInterval();</script>
	@RenderSection("ScriptsJS", false)

</body>
</html>
