﻿@using LVEBWeb.Helpers
@using LVEBWeb.Models
@using LVEBWeb.App_Core.Main.Model;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
	var user = (SessionUserModel)ViewData["CurrentUser"];
	var currentPage = "";
	if (ViewData.ContainsKey("CurrentPage"))
	{
		currentPage = ViewData["CurrentPage"].ToString();
	}

	var culture = ViewData["culture"].ToString();

	var q = "";
	if (ViewData["q"] != null)
	{
		q = ViewData["q"].ToString();
	}
	if (ViewData["description"] == null)
	{
		ViewData["description"] = "El portal de los amantes del baile. Asociación promotora de eventos, escuelas y bailarines/as. Aportamos tecnología e innovación al artístico mundo del baile.";
	}
	var msg = new MSGModel();
	if (ViewData["MSG"] != null)
	{
		msg = (MSGModel)ViewData["MSG"];
	}
}
<!DOCTYPE html>
<html>
<head>
	<title>La Vida Es Baile - @ViewBag.Title</title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<meta name="keywords" content="baile,bailar,salir a bailar,aprender a bailar,competiciones de baile,salsa,bachata,chachacha,vall,tango,pasodoble">
	<meta name="description" content="@ViewData["description"]">

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

	@Html.CSSGetFileName()
	@RenderSection("ScriptsCSS", false)
	<link rel="shortcut icon" href="/ico/favicon.ico" />

	<link rel="apple-touch-icon" sizes="57x57" href="/ico/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/ico/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/ico/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/ico/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/ico/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/ico/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/ico/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/ico/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/ico/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
	<link rel="manifest" href="/ico/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ico/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<meta name="apple-itunes-app" content="app-id=1450285810">
	<meta name="google-play-app" content="app-id=com.aig.lveb">
</head>
<body>

	<nav class="navbar navbar-expand-lg fixed-top navbar-dark ">
		<a class="navbar-brand mr-auto mr-lg-0 @Html.Raw("Home" == currentPage ? "active" : "")" href="/">
			<span>La vida es baile</span>
			<img src="/ico/favicon-96x96.png">
		</a>
		<button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item @Html.Raw("DanceHall" == currentPage ? "active" : "")">
					<a class="nav-link" href="@Html.Concatenate("/salir-a-bailar" + (q.Length > 0 ? "?q=" + q : ""))">@Localizer["Go dancing"]</a>
				</li>
				<li class="nav-item @Html.Raw("DanceSchool" == currentPage ? "active" : "")">
					<a class="nav-link" href="@Html.Concatenate("/aprender-a-bailar" + (q.Length > 0 ? "?q=" + q : ""))">@Localizer["Learn to dance"]</a>
				</li>

				<li class="nav-item @Html.Raw("Events" == currentPage ? "active" : "")">
					<a class="nav-link" href="/eventos-fiestas">@Localizer["Events"]</a>
				</li>

				<li class="nav-item @Html.Raw("Competitions" == currentPage ? "active" : "")">
					<a class="nav-link" href="/Competiciones">@Localizer["Competitions"]</a>
				</li>

			</ul>

			<ul class="nav navbar-nav px-3" id="menu-right">

				@if (user.UserHasAccess)
				{
					<li class="nav-item text-nowrap">
						<a class="nav-link" href="/u"><i class="ion ion-md-person"></i> @user.UserName</a>
					</li>
					<li class="dropdown nav-item text-nowrap">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
							<span class="nav-label"><i class="ion ion-md-settings"></i> </span> <span class="caret"></span>
						</a>
						<ul id="ddm-register" class="dropdown-menu dropdown-menu-right">
							@if (user.IsCustomer)
							{
								<li><a href="/Manager">Manager</a></li>
							}
							<li><hr></li>
							<li>
								<a href="/ur/logoff">@Localizer["Sign out"]</a>
							</li>
						</ul>
					</li>

				}
				else
				{
					<li class="nav-item text-nowrap">
						<a class="nav-link" href="" onclick="LoginStart();return false;"><i class="ion ion-md-person"></i> @Localizer["Sign in"]</a>
					</li>
				}
			</ul>
		</div>
	</nav>

	<partial name="_CookieConsentPartial" />
	@if (msg.Type != MSGTypes.None)
	{
		<div id="msg" class="alert alert-@msg.Type.ToString() alert-dismissible fade show" role="alert" style="		margin: 0px;">
			<strong>
				@msg.Message
				<button onclick="AlertClose()" type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
		</div>
		<script>setTimeout(function(){ AlertClose();$("#msg").remove(); },5000);</script>

	}

	@RenderBody()
	<div id="toolframe">
		<div class="content-body">

		</div>
	</div>

	<footer class="container">
		<div class=row>
			<a href="https://lavidaesbaile.org" target="_blank" rel="noopener">Asociación</a> <span>|<a href=/politica-privacidad>Política de Privacidad</a> <span>|</span> <a href=/termino-y-condiciones>Termino y Condiciones</a>
		</div>
		<p>© La Vida Es Baile @DateTime.Now.Year</p>
	</footer>
	<div id="bck-full" style="		display: none;"></div>
	<div id="bck-working">
		<div>
			<img src="/images/loading.gif">
			<br>
			Working...
		</div>
		<button id="bck-working-close" onclick="WorkingEnd();" class="btn btn-oval btn-default">Close</button>
	</div>


	@Html.JSGetFileName()

	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '564306773968225',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.3'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
	</script>
	@RenderSection("ScriptsJS", false)

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117527300-1"></script>
	<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117527300-1');
	</script>
</body>

</html>
