﻿@using LVEBWeb.Helpers
@{

}

<div class="row content-right-item">
	<div class="col-12 text-center">
		<h6>!Publica eventos¡</h6>
		<h4>Es GRATIS</h4>
	</div>
</div>

<!--

<div class="row content-right-item">
	<div class="col-12 text-center">
		<p>Publicamos tu competición gratis. </p>
	</div>
</div>
-->
