﻿@using LVEBWeb.Helpers
@{

}

<div class="row content-left-info">
    <img src="/images/LogoLaVidaEsBaile1_320x320.jpg">
    <h5>La Vida Es Baile</h5>

    <br>

</div>

<br />

<div class="row content-right-item">
    <div class="col-12 text-center">
        <h6>Opciones del Manager</h6>
        <button type="button" class="btn btn-outline-secondary" style="width: 100%;">Publicar Evento</button>
        <button type="button" class="btn btn-outline-secondary" style="width: 100%;">Mejorar Información.</button>
    </div>
</div>
<br />
<div class="row content-left-action" style="display:none">
</div>