﻿@using LVEBWeb.Helpers
@{
	var CurrentPage = ViewData["CurrentPage"] == null ? "" : ViewData["CurrentPage"].ToString();
}

@if (CurrentPage == "Placeww")
{
	<div class="row content-right-item">
		<div class="col-12 text-center">
			<button type="button" class="btn btn-outline-secondary" style="		width: 100%;" onclick="LoginStart();return false;">Mejorar Información.</button>
		</div>
	</div>
	<br />
}
<div class="row content-right-item">
	<div class="col-12 text-center">

		<h6>Descarga la App</h6>

		<a href="https://apps.apple.com/us/app/la-vida-es-baile/id1450285810?l=es&ls=1"> <img src="/svg/AppStoreBadge_ES.svg"></a>
		<a href="https://play.google.com/store/apps/details?id=com.aig.lveb"> <img src="/images/google-play-badge.png" style="    width: 137px;"></a>

	</div>
</div>
<br>
<div class="row content-right-item">
	<div class="col-12 text-center">
		<h6>!Publica eventos¡</h6>
		<h4>Es GRATIS</h4>
		<p>Regístrate y solicita acceso a la sección manager, donde podrás publicar eventos.</p>
	</div>
	<!--
	<button type="button" class="btn btn-outline-success" style="width: 100%;">Conviértete en Manager</button>

	<button type="button" class="btn btn-outline-success" style="width: 100%;">Encuentras Escuela de Baile</button>
		<br>
		<button type="button" class="btn btn-outline-success" style="width: 100%;">A bailar! <br> Encuentra sala de Baile.</button>
	-->
</div>
@if (ViewData["CurrentPage"] == "DanceHall" || ViewData["CurrentPage"] == "DanceSchool")
{
	<br />
	<div class="row content-right-item local-improve">
		<div class="col-12">
			<h6>Ayudanos a mejorar la información de este local.</h6>
			<ul>
				<!--		<li onclick="PlaceImproveStart('contacto','@ViewData["PlaceCode"]');">Mejorar contactos</li>-->
				<li onclick="PlaceImproveStart('localcerrado','@ViewData["PlaceCode"]');">Local Cerrado</li>
				<li onclick="PlaceImproveStart('propietario','@ViewData["PlaceCode"]');">¿Eres el responsable de este local?</li>
			</ul>
		</div>
	</div>
}