﻿@using LVEBWeb.Helpers
@{

}

<div class="row content-left-info">
	<img src="/images/LogoLaVidaEsBaile1_320x320.jpg">
	<h5>La Vida Es Baile</h5>

	<p>Si quieres pasarlo bien<br>compartir experiencias inolvidables disfrutando del baile<br>conocer a gente maravillosa<br>y vivir en armonía y felicidad<br>únete a La Vida Es Baile.</p>
	<br>
	<ul>
		<li>Descrubre eventos cerca de ti.</li>
		<li>Encuentra escuelas y salas de baile.</li>
		<li>!No pares de bailar!</li>
	</ul>
</div>
<div class="row content-left-action" style="display:none">
</div>