﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Admin.BE
@model LVEBWeb.App_Core.Admin.BE.CompetitionBE
@{
	ViewBag.Title = "VXVenues";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
@{

	var provinces = (List<DICProvinceBE>)ViewData["Provinces"];
	var types = (List<DICValueBE>)ViewData["Types"];
	var cities = (List<DICCityBE>)ViewData["Cities"];
	var typeLegalID = (List<DICValueBE>)ViewData["TypeLegalID"];
}
@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Views/Admin/Competitions/CompetitionsEdit.css" })
}
@section ScriptsJS{
	@Html.JSGetFileName(new List<string> { "Views/Admin/Competitions/CompetitionsEdit.js" })
	<script>
$("#Status").val(@Model.Status);
	</script>
}
<div class="page-title">

	<button id="BtnDelete" name="BtnDelete" class="btn btn-waring mt-lg" onclick="return false;">Borrar</button>
	<button id="BtnSave" class="btn btn-success mt-lg" onclick="return false;">Guardar</button>
	<h2 class="page-title">
		Competicion / Editar  <small>du: @Model.UpdateDate</small>
	</h2>

</div>

<nav>
	<div class="nav nav-tabs" id="tab-edit" role="tablist">
		<a class="nav-item nav-link active" id="nav-name-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-name" aria-selected="true">Detalles</a>
		<a class="nav-item nav-link" id="nav-description-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-description" aria-selected="false">Descripcion</a>
		<a class="nav-item nav-link" id="nav-address-tab" data-toggle="tab" href="#nav-address" role="tab" aria-controls="nav-address" aria-selected="false">Dirección</a>
	</div>
</nav>

<form id="form" method="post">
	<div class="row">
		<div class="col-12 tab-edit">

			<div class="form-row nav-name-tab">
				<div class="col-12">
					<h3>Detalles</h3>
				</div>
				<div class="col-md-3 mb-3">
					<label for="exampleFormControlInput1">Codígo</label>
					<input type="text" id="EditCode" name="Code" value="@Model.Code" class="form-control"
						   readonly="readonly" />
				</div>
				<div class="col-md-3 mb-3">
					<label for="exampleFormControlInput1">Fecha Inicio</label>

					<input type="date" id="DateStart" name="DateStart" value="@Model.DateStart.ToString("yyyy-MM-dd")" class="form-control" />

				</div>
				<div class="col-md-3 mb-3">
					<label for="exampleFormControlInput1">Fecha Fin</label>

					<input type="date" id="DateEnd" name="DateEnd" value="@Model.DateEnd.ToString("yyyy-MM-dd")" class="form-control" />

				</div>

				<div class="col-md-3 mb-3">
					<label for="Status">Estado</label>

					<select type="text" id="Status" name="Status" class="form-control">
						<option value="190000">Borrador</option>
						<option value="190001">Activo</option>
					</select>
				</div>

			</div>
			<div class="form-row nav-name-tab">

				<div class="col-md-12 mb-12">
					<label for="Name">Nombre</label>

					<input type="text" id="Name" name="Name" value="@Model.Name" class="form-control" />

				</div>
				<div class="col-md-12 mb-12">
					<label for="Modalities">Modalidades</label>

					<input type="text" id="Modalities" name="Modalities" value="@Model.Modalities" class="form-control" />

				</div>

			</div>

			<div class="form-row nav-name-tab">

				<div class="col-md-6 mb-6">
					<label for="exampleFormControlInput1">Web Oficial</label>

					<input type="text" id="OficialSite" name="OficialSite" value="@Model.OficialSite" class="form-control" />

				</div>
				<div class="col-md-6 mb-6">
					<label for="exampleFormControlInput1">Web Oficial Url</label>

					<input type="text" id="OficialSiteUrl" name="OficialSiteUrl" value="@Model.OficialSiteUrl" class="form-control" />

				</div>
			</div>
			<div class="form-row nav-description-tab">

				<div class="col-md-12 mb-12">
					<h3>Description</h3>
					<textarea name="Description" class="form-control" required>@Model.Description</textarea>
				</div>
				<div class="col-md-2 mb-2">

					Poster:	<input type=file id="File" name="File" />
					<label for="HavePoster">Tiene Poster</label>

					<input type=checkbox id="HavePoster" name="HavePoster" @Html.Raw(Model.HavePoster ? "checked" : "") class="form-control" />

				</div>
				<div class="col-md-10 mb-10">
					<img src="/CompetitionsPoster/@Model.Code" style="		max-width: 500px;
		max-height: 500px;">
				</div>

			</div>
			<div class="form-row nav-address-tab">
				<div class="col-12">
					<h3>Dirección</h3>
				</div>
				<div class="col-md-6 mb-6">
					<label for="exampleFormControlInput1">Dirección</label>

					<input type="text" name="AddressName" value="@Model.AddressName" class="form-control" />

				</div>
				<div class="col-md-6 mb-6">
					<label for="exampleFormControlInput1">Dirección Link</label>

					<input type="text" id="EditAddressLink" name="AddressLink" value="@Model.AddressLink" class="form-control" />

				</div>
			</div>
			<div class="form-row nav-address-tab">
				<div class="col-md-6 mb-6">
					<label for="exampleFormControlInput1">Provincia</label>
					<select type="text" name="AddProvinceCode" id="AddProvinceCode" class="form-control">

						<option value="" selected="selected">-- Filtrar por Provincia --</option>
						@foreach (var p in provinces)
						{
							@if (Model.AddProvinceCode == p.Code)
							{
								<option value="@p.Code" selected="selected">@p.Name</option>
							}
							else
							{
								<option value="@p.Code">@p.Name</option>
							}
						}
					</select>

				</div>

				<div class="col-md-3 mb-3">
					<label for="exampleFormControlInput1">Latitud</label>

					<input type="text" id="EditLatitude" name="Latitude" value="@Model.Latitude" class="form-control" />

				</div>

				<div class="col-md-3 mb-3">
					<label for="exampleFormControlInput1">Longitud</label>

					<input type="text" id="EditLongitud" name="Longitud" value="@Model.Longitud" class="form-control" />

				</div>
			</div>



		</div>
	</div>
</form>
