﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Admin.BE;
@{
	ViewBag.Title = "Competiciones";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
	var provinces = (List<DICProvinceBE>)ViewData["Provinces"];
	var types = (List<DICValueBE>)ViewData["Types"];
}
@section ScriptsCSS {

}
@section ScriptsJS {
	@Html.JSGetFileName(new List<string> { "Views/Admin/Competitions/Competitions.js" })
}
<h1>Competiciones</h1>
<div class=" container-fluid">
	<div class="row">
		<div class="col-2">
			<input type="text" id="filterName" class="form-control" placeholder="Nombre" />
		</div>
		<div class="col-2">
			<select type="text" id="filterProvince" class="form-control">
				<option value="" selected="selected">-- Provincia --</option>
				@foreach (var p in provinces)
				{
					<option value="@p.Code">@p.Name</option>
				}
			</select>
		</div>
		<div class="col-2">
			<select type="text" id="filteType" class="form-control">
				<option value="" selected="selected">-- Tipo Contacto --</option>
				@foreach (var p in types)
				{
					<option value="@p.Code">@p.Name</option>
				}
			</select>
		</div>
		<div class="col-3">
			<a href="#" class="btn btn-default" onclick="GridMainStart();">Buscar</a>
			<a href="/Admin/Competitions/Edit/" class="btn btn-default" target=_blank>Añadir</a>
		</div>
		<div class="col-3">

		</div>
	</div>
</div>

<br />
<section class="ng-scope">
	<div id="gridContent" class="section-grid">
		<table id="GridMain"></table>
	</div>



</section>
