﻿#map_canvas {
    height: 350px;
    width: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

textarea {
    width: 100%;
    height: 200px;
}

#BtnSave, #BtnDelete {
    float: right;
    margin-right: 50px;
    margin-top: 4px;
}

#form {
    margin-top: 20px;
}
