﻿@using LVEBWeb.Helpers
@model LVEBWeb.App_Core.Main.BE.EventBE
@{
	ViewData["Title"] = "Manager";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Submenu"] = "events";
}

@{
    var categories = (Dictionary<int, string>)ViewData["Categories"];
}
@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Views/Manager/Index.css" })
}
@section ScriptsJS{
	@Html.JSGetFileName(new List<string> { "Views/Manager/EventNew.js" })
}
<div class="jumbotron">
	<div class="container">
		<div class=" justify-content-center">
		</div>
	</div>
</div>
<main role="main" class="container">
	<partial name="PartialTop">
		<div class="row box-top">
			<div class="col-12">
				<h5>Crear Evento</h5>
			</div>
			<div class="col-12">

				@using (Html.BeginForm())
				{

					@Html.ValidationSummary("", "")
					<input type="hidden" name="PlaceCode" value="@Model.PlaceCode" />
					<div class="form-row">
						<div class="col-md-3 mb-3">
							<label for="DateStart">Fecha y hora de inicio</label>
							<input type="datetime-local" id="DateStart" name="DateStart" value="@Model.DateStart.ToString("yyyy-MM-ddTHH:00")" class="form-control" required />
						</div>
						<div class="col-md-3 mb-3">
							<label for="Duration">Duración aproximada en horas</label>
							<input type=number id="Duration" name="Duration" value="@Model.Duration" class="form-control" required />
						</div>
                        

                        <div class="col-md-3 mb-3">
                            <label for="Category">Categoia</label>
                            <select type="text" id="Category" name="Category" class="form-control" required>
                                @foreach (var p in categories)
                                {
                                    @if (Model.Category == p.Key)
                                    {
                                        <option value="@p.Key" selected="selected">@p.Value</option>
                                    }
                                    else
                                    {
                                        <option value="@p.Key">@p.Value</option>
                                    }
                                }
                            </select>
                        </div>
						<div class="col-md-3 mb-3">
							<label for="Status">Estado</label>
							<input type="text" id="Status" value="Borrador" class="form-control" readonly />
						</div>

						<div class="col-md-12 mb-12">
							<label for="Name">Nombre corto que describa el evento</label>
							<input type="text" id="Name" name="Name" value="@Model.Name" class="form-control" required />
						</div>
						<div class="col-md-12 mb-12">
							<label for="Description">Descripción</label>
							<textarea name="Description" class="form-control" required>@Model.Description</textarea>
						</div>

					</div>


					<div class="text-center">
						<button type="submit" class="btn btn-primary">Guardar</button>
						<button type="submit" class="btn btn-success">Guardar y Publicar</button>
					</div>
				}
			</div>
		</div>
</main>