﻿@using LVEBWeb.Helpers
@model LVEBWeb.App_Core.Main.BE.EventBE
@{
    ViewData["Title"] = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Submenu"] = "events";
}

@{
    var categories = (Dictionary<int, string>)ViewData["Categories"];
}
@section ScriptsCSS {
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    @Html.CSSGetFileName(new List<string> { "Views/Manager/Index.css" })
}
@section ScriptsJS{
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    @Html.JSGetFileName(new List<string> { "Views/Manager/EventNew.js" })
}
<div class="jumbotron">
    <div class="container">
        <div class=" justify-content-center">
        </div>
    </div>
</div>
<main role="main" class="container">
    <partial name="PartialTop">
        <div class="row box-top">
            <div class="col-12">
                <h5>Editar Evento</h5>
            </div>
            <div class="col-12">

                @using (Html.BeginForm(null,null,FormMethod.Post,new{enctype="multipart/form-data"}))
                {

                    @Html.ValidationSummary("", "")
                    <input type="hidden" name="PlaceCode" value="@Model.PlaceCode" />
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="DateStart">Fecha y hora de inicio</label>
                            <input type="datetime-local" id="DateStart" name="DateStart" value="@Model.DateStart.ToString("yyyy-MM-ddTHH:00")" class="form-control" required />
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Duration">Duración en horas</label>
                            <input type=number id="Duration" name="Duration" value="@Model.Duration" class="form-control" required />
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="Category">Categoia</label>
                            <select type="text" id="Category" name="Category" class="form-control">
                                @foreach (var p in categories)
            {
                    @if (Model.Category == p.Key)
{
                    <option value="@p.Key" selected="selected">@p.Value</option>
}
else
{
                    <option value="@p.Key">@p.Value</option>
}
}
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Status">Estado</label>

                            <input type="hidden" id="Status" name="Status" value="@Model.Status" />
                            @if (Model.Status == 200002)
        {
                    <input id="StatusCheckbox" checked type="checkbox" name="Status" data-toggle="toggle" data-on="Activo" data-off="Borrador" data-onstyle="success">
}
else
{
                    <input id="StatusCheckbox" type="checkbox" name="Status" data-toggle="toggle" data-on="Activo" data-off="Borrador" data-onstyle="success">
}
                            <small>pulsa para cambiar</small>

                        </div>

                        <div class="col-md-12 mb-12">
                            <label for="Name">Nombre corto que describa el evento</label>
                            <input type="text" id="Name" name="Name" value="@Model.Name" class="form-control" required />
                        </div>
                        <div class="col-md-12 mb-12">
                            <label for="Description">Descripción</label>
                            <textarea name="Description" class="form-control" required>@Model.Description</textarea>
                        </div>
                        <div class="col-md-8 mb-8 event-file">
                            <input type="file" class="custom-file-input" id="file" name="File" lang="es">
                            <label class="custom-file-label" for="customFileLang">Seleccionar poster, cartel promocional.</label>
                        </div>
                        <div class="col-md-4 mb-4">
                            <img src="/manager/events/img/@Model.PlaceCode/@Model.Code" />
                        </div>
                    </div>

                    @if (Model.PlaceCode != "")
                    {
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Guardar</button>
                            <button type="submit" class="btn btn-secondary">Cancelar</button>
                        </div>
                    }
                }
            </div>
        </div>
</main>