﻿@using LVEBWeb.Helpers
@model LVEBWeb.App_Core.Main.BE.PlaceBE
@{
    ViewData["Title"] = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Submenu"] = "";
}

@section ScriptsCSS {
    @Html.CSSGetFileName(new List<string> { "Views/Manager/Index.css" })
}
@section ScriptsJS{
    @Html.JSGetFileName(new List<string> { "Views/Manager/Index.js" })
}
<div class="jumbotron">
    <div class="container">
        <div class=" justify-content-center">
        </div>
    </div>
</div>
<main role="main" class="container">
    <partial name="PartialTop">
        <div class="row box-top">
            <div class="col-12">
                <h5>Manager</h5>
            </div>
            <div class="col-12">
                <p>Esta sección es de uso exclusívo de socios que sean gestores de salas o escuelas de bailes.</p>
                <p>Si eres propietario puedes editar la información del local, si eres un colaborador puedes añadir eventos.</p>
                <p>En locales puedes ver todos los locales asociados y en eventos los ultimos eventos publicados.</p>
            </div>
        </div>
</main>



<partial name="PartialModal">
