﻿@using LVEBWeb.Helpers
@{
	var submenu = ViewData["Submenu"].ToString();
}

<div class="row box-top">
	<div class="col-12">
		<p class="des">
			Sección para administrar tus locales, publicar eventos, cambiar descripciones y enlazar fotos y videos.
		</p>
	</div>

	<div class="col-12">
		<ul class="submenu">
			<li class="nav-item">
				<a class="nav-link @Html.Raw("places"==submenu?"active":"")" href="/manager/places">Locales</a>
			</li>
			<li class="nav-item">
				<a class="nav-link @Html.Raw("events"==submenu?"active":"")" href="/manager/events">Eventos</a>
			</li>
		</ul>
	</div>
</div>
