﻿@using LVEBWeb.Helpers
@model LVEBWeb.App_Core.Main.BE.PlaceBE
@{
	ViewData["Title"] = "Manager";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Submenu"] = "places";
}

@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Views/Manager/Index.css" })
}
@section ScriptsJS{
	@Html.JSGetFileName(new List<string> { "Views/Manager/Places.js" })
}
<div class="jumbotron">
	<div class="container">
		<div class=" justify-content-center">
		</div>
	</div>
</div>
<main role="main" class="container">
	<partial name="PartialTop">
		<div class="row box-top">
			<div class="col-12">
				<h5>Locales</h5>
			</div>
			<div class="col-12">
				<div id="gridContent" class="section-grid">
					<table id="GridMain"></table>
				</div>


			</div>
		</div>
</main>




<partial name="PartialModal">