﻿/*.map-iframe {
    padding: 15px;
}*/
.container .row:after, .container .row:before {
    display: none;
}

.jumbotron {
    background-image: url("/photos/bailando3.jpg");
    background-color: #cccccc;
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -70px;
}

.justify-content-center {
    text-align: center;
}

.jumbotron h1 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-style: italic;
    color: white;
    line-height: 70px;
    font-weight: 600;
    font-size: 40px;
}

.calendar {
    border-radius: 3px;
    border: solid 1px #ededed;
    background-color: #ffffff;
    display: block;
    padding: 5px;
    text-align: center;
    width: 80%;
    -moz-box-shadow: 0 2px 2px #888;
    -webkit-box-shadow: 0 2px 2px #888;
    box-shadow: 0 2px 2px #888;
    font-size: 14px;
    margin-left: 10%;
    min-height: 80px;
}

    .calendar div {
        font-size: 25px;
        color: #e02323;
        font-weight: bold;
    }

    .calendar span {
        display: block;
    }

.competicion-block {
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #e2e2e2;
    background-color: #ffffff;
    padding: 5px 20px;
    margin-bottom: 15px;
}

    .competicion-block .logo {
        padding: 0px;
        border: 1px solid gainsboro;
        border-radius: 70px;
    }

        .competicion-block .logo img {
            width: 80%;
            margin: 10%;
        }

    .competicion-block .title, .venue-block .subtitle {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .competicion-block div.title {
        line-height: 30px;
        font-weight: bold;
    }

        .competicion-block div.title a {
            color: black;
        }

    .competicion-block div.subtitle {
        font-size: 14px;
    }

    .competicion-block .desc {
        border-bottom: 2px solid gainsboro;
    }

        .competicion-block .desc p {
            line-height: 20px;
            font-size: 15px;
            color: #383838;
            height: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

.poster {
    margin-left: -16px;
    background: gainsboro;
    margin-right: -16px;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid gainsboro;
    border-top: 2px solid gainsboro;
}

    .poster img {
        height: 430px;
        max-width: 404px;
    }


.details-box {
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #e2e2e2;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
}

    .details-box .title {
        line-height: 33px;
        font-size: 24px;
    }


#map_canvas {
    height: 250px;
    width: 100%;
    position: relative;
    z-index: 4;
}


h5 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gainsboro;
}

.address {
    margin-bottom: 10px;
    margin-top: 5px;
}
