﻿@using LVEBWeb.Helpers
@model LVEBWeb.App_Core.Main.BE.CompetitionBE
@{
	ViewData["Title"] = Model.Name + " " + Model.AddProvince;
	ViewData["CurrentPage"] = "Competitions";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Scripts/admin_css/map/leaflet.css", "Views/Competitions/Details.css" })
}
@section ScriptsJS{
	@Html.JSGetFileName(new List<string> { "Scripts/admin_js/map/leaflet.js", "Views/Competitions/Details.js" })
	<script>
    var lat = @Model.LatitudeString;
    var lon = @Model.LongitudeString;
	</script>
}

<div class="jumbotron">
	<div class="container">
		<div class=" justify-content-center">
		</div>
		<br>

	</div>
</div>

<main role="main" class="container">
	<div class="row details-box">
		<div class="col-lg-2 col-4">
			<!--	<img src="/svg/competicion.svg" />-->
			<span class="calendar">
				<div>@Model.DateStart.Day</div><span>
					@Html.MonthName(Model.DateStart.Month)
					@Model.DateStart.Year
				</span>
			</span>
		</div>
		<div class="col-lg-10 col-8">
			<p class="title">
				@Model.Name - <small>@Model.AddProvince</small>
			</p>
			<p>
				@Model.Description
			</p>
		</div>
	</div>
	<div class="row">
		<div class="d-none d-lg-block col-md-3 content-left">

			<partial name="PartialLeft">
		</div>
		<div class="col-md-8  col-lg-6">

			<div class="p-3 bg-white rounded">
				<div class="row">
					<div class="col-12">


						<table class="table table-bordered table-striped">
							<thead>
							</thead>
							<tbody>
								<tr>
									<td>Lugar</td>
									<td>@Model.AddressName</td>
								</tr>
								<tr>
									<td>Fechas</td>
									<td>@Model.Dates</td>
								</tr>
								<tr>
									<td>Modalidades</td>
									<td>@Model.Modalities</td>
								</tr>
								<tr>
									<td>Página oficial</td>
									<td><a href="@Model.OficialSiteUrl" target="_blank">@Model.OficialSite</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				@if (Model.HavePoster)
				{
					<div class="row poster">
						<div class="col-md-12">

							<img src="/competicion-poster/@Model.Code" class="">

						</div>
					</div>
				}
				<br />
				<div class="row">

					<div class="col-md-12 map">
						<div id="map_canvas"></div>
					</div>
					<br>
					<div class="col-12 text-center">
						<br>
						<a href="@Model.AddressLink" target=_blank>Ver en google</a>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-4 col-lg-3 content-right">

			<partial name="PartialRight">
		</div>
	</div>
</main>