﻿@using LVEBWeb.Helpers
@model List<LVEBWeb.App_Core.Main.BE.CompetitionBE>
@{
	ViewData["Title"] = "Competiciones";
	ViewData["CurrentPage"] = "Competitions";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Views/Competitions/Index.css" })
}
@section ScriptsJS{
	@Html.JSGetFileName(new List<string> { "Views/Competitions/Index.js" })
}


<div class="jumbotron">
	<div class="container">
		<div class=" justify-content-center">
			<h1>Próximas competiciones</h1>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3 col-lg-3"></div>
			<div class="col-12 col-md-8 col-lg-6">
			</div>
			<!--end of col-->
		</div>

	</div>
</div>

<main role="main" class="container">
	<div class="row">
		<div class="d-none d-lg-block col-md-3 content-left">

			<partial name="PartialLeft">

		</div>
		<div class="col-md-8  col-lg-6">


			@foreach (var c in Model)
			{

				<div class="competicion-block">
					<div class="row" style="margin-top: 10px;margin-bottom: 10px;">
						<div class="col-3">
							<!--	<img src="/svg/competicion.svg" />-->
							<span class="calendar">
								<div>@c.DateStart.Day</div><span>
									@Html.MonthName(c.DateStart.Month)
									@c.DateStart.Year
								</span>
							</span>
						</div>
						<div class="col-9">
							<div class="title"><a href="/competicion/@c.Code/@Html.URLEncode(c.Name.Replace(" ","-"))">@c.Name</a></div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 des">
							<p class="">
								@c.Description
							</p>
						</div>
					</div>
					@if (c.HavePoster)
					{
						<div class="row poster">
							<div class="col-12">
								<img src="/competicion-poster/@c.Code">
							</div>

						</div>
					}
					<div class="row">
						<div class="col-md-12">
							<br>
							<p class="text-right">
								<a class="btn btn-outline-success" href="/competicion/@c.Code/@Html.URLEncode(c.Name.Replace(" ","-"))" role="button">Detalles <i class="ion ion-md-arrow-forward"></i></a>
							</p>
						</div>

					</div>
				</div>
			}

		</div>
		<div class="col-md-4 col-lg-3 content-right">

			<partial name="PartialRight">
		</div>
	</div>
</main>