﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Admin.BE;
@{
	ViewBag.Title = "Usuarios";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
}
@section ScriptsCSS {
	<style>
		#DIVUser {
			position: fixed;
			top: 50px;
			width: 80%;
			left: 10%;
		}

		.btn {
			width: 100%;
		}
	</style>

}
@section ScriptsJS {
	@Html.JSGetFileName(new List<string> { "Views/Admin/Secure/AdminUsers.js" })
}
<h1>Admin / Conf / Usuarios</h1>

<section class="menu-filter">
	<div class=" container-fluid">
		<div class="row">
			<div class="col-8">
				<input type="text" id="filterName" class="form-control" placeholder="Nombre" />
			</div>
			<div class="col-2">
				<a href="#" class="btn btn-outline-dark" onclick="GridMainStart();">Buscar</a>
			</div>
			<div class="col-2">
				<a href="#" class="btn btn-outline-dark" onclick="UserNew();">Añadir</a>
			</div>
		</div>
	</div>

</section>

<br />
<section class="ng-scope">
	<div id="gridContent" class="section-grid">
		<table id="GridMain"></table>
	</div>

</section>



<div id="DIVUser" style="		display: none">
	<div class="page-filter container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Añadir / Editar Usuario <span id="editUserId"></span> </h3>
			</div>
		</div>
		<div class="row">
			<div class="col-3"></div>
			<div class="col-2">
				<label>Nombre</label>
			</div>
			<div class="col-4">
				<input type="text" id="editUserName" class="form-control" required />
			</div>
			<div class="col-3"></div>
		</div>
		<div class="row">
			<div class="col-3"></div>
			<div class="col-2">
				<label>Email</label>
			</div>
			<div class="col-4">
				<input type="text" id="editUserEmail" class="form-control" required />
			</div>
			<div class="col-3"></div>
		</div>
		<div class="row">
			<div class="col-3"></div>
			<div class="col-2">
				<label>Roles</label>
			</div>
			<div class="col-4">
				<input type="text" id="editRoles" class="form-control" />
			</div>
			<div class="col-3"></div>
		</div>

		<div class="row">
			<div class="col-3"></div>
			<div class="col-2">
				<label>Password</label>
			</div>
			<div class="col-4">
				<input type="text" id="editPassword" class="form-control" />
			</div>
			<div class="col-3"></div>
		</div>
		<div class="row"><br></div>
		<div class="row">
			<div class="col-3"></div>
			<div class="col-3">
				<button onclick="UserEditEnd();" class="btn btn-secondary">Guardar</button>
			</div>
			<div class="col-3">
				<button onclick="$('#DIVUser').hide();" class="btn btn-secondary">Cancelar</button>
			</div>
			<div class="col-3"></div>

		</div>
	</div>
</div>

