﻿@using LVEBWeb.Helpers
@{
	ViewBag.Title = "Competiciones";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{

}
@section ScriptsCSS {

}
@section ScriptsJS {
	@Html.JSGetFileName(new List<string> { "Views/Admin/TasksGroups/TasksGroups.js" })
}
<h1>Grupos de Tareas</h1>
<div class=" container-fluid">
	<div class="row">
		<div class="col-2">
			<input type="text" id="filterName" class="form-control" placeholder="Nombre" />
		</div>
		<div class="col-2">


		</div>
		<div class="col-2">

		</div>
		<div class="col-3">
			<a href="#" class="btn btn-default" onclick="GridMainStart();">Buscar</a>
			<a href="/Admin/TasksGroups/Edit/" class="btn btn-default" target=_blank>Añadir</a>
		</div>
		<div class="col-3">

		</div>
	</div>
</div>

<br />
<section class="ng-scope">
	<div id="gridContent" class="section-grid">
		<table id="GridMain"></table>
	</div>

</section>
