﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Admin.BE
@model LVEBWeb.App_Core.Admin.BE.TaskGroupBE
@{
	ViewBag.Title = "Tasks Groups";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
@{

	var status = (List<DICValueBE>)ViewData["Status"];
	var types = (List<DICValueBE>)ViewData["Types"];
}
@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Views/Admin/AdminEdit.css" })

}
@section ScriptsJS{
	@Html.JSGetFileName(new List<string> { "Views/Admin/TasksGroups/TasksGroupsEdit.js" })
	<script>
$("#Status").val(@Model.Status);
	</script>
}
<div class="page-title">

	<button id="BtnDelete" name="BtnDelete" class="btn btn-waring mt-lg" onclick="return false;">Borrar</button>
	<button id="BtnSave" class="btn btn-success mt-lg" onclick="return false;">Guardar</button>
	<a class="btn btn-success mt-lg" href="/Admin/tasks/@Model.Code" target=_blank>Comenzar</a>
	<h2 class="page-title">
		Tasks Group / Editar  <small>du: @Model.UpdateDate</small>
	</h2>

</div>



<form id="form" method="post">
	<div class="row">
		<div class="col-12 tab-edit">

			<div class="form-row nav-name-tab">
				<div class="col-12">
					<h3>Detalles</h3>
				</div>
				<div class="col-md-3 mb-3">
					<label for="exampleFormControlInput1">Codígo</label>
					<input type="text" id="EditCode" name="Code" value="@Model.Code" class="form-control"
						   readonly="readonly" />
				</div>

				<div class="col-md-9 mb-9">
					<label for="Name">Nombre</label>

					<input type="text" id="Name" name="Name" value="@Model.Name" class="form-control" />

				</div>
				<div class="col-md-3 mb-3">
					<label for="Type">Tipo</label>

					<select type="text" name="Type" class="form-control">
						@foreach (var p in types)
						{
							@if (Model.Type == p.Code)
							{
								<option value="@p.Code" selected="selected">@p.Name</option>
							}
							else
							{
								<option value="@p.Code">@p.Name</option>
							}
						}

					</select>
				</div>
				<div class="col-md-3 mb-3">
					<label for="Status">Estado</label>

					<select type="text" name="Status" class="form-control">


						@foreach (var p in status)
						{
							@if (Model.Status == p.Code)
							{
								<option value="@p.Code" selected="selected">@p.Name</option>
							}
							else
							{
								<option value="@p.Code">@p.Name</option>
							}
						}
					</select>
				</div>

			</div>
			<div class="form-row nav-name-tab">


				<div class="col-md-12 mb-12">
					<label for="Notes">Notes</label>

					<textarea type="text" id="Notes" name="Notes" class="form-control">@Model.Notes</textarea>

				</div>

			</div>




		</div>
	</div>
</form>

<div class="row">
	<div class="col-12 ">
		<br>
		<div class="form-row nav-users-tab">
			<div class="col-12">
				<h3>Tareas</h3>
			</div>
			<div class="col-md-12 mb-12" id="user_search">
				<div class="row">
					<div class="col-2">
						<input type="text" id="taskFilterCode" class="form-control" placeholder="Code" />
					</div>

					<div class="col-3">
						<a href="#" class="btn btn-default" onclick="TasksSearch();">Buscar</a>
					</div>
				</div>
				<div id="GridTasks"></div>
			</div>
		</div>
	</div>
	<br>
</div>