﻿@using LVEBWeb.Helpers
@model LVEBWeb.App_Core.Main.Model.DetailsEventModel
@{
	ViewData["Title"] = Model.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["CurrentPage"] = "Events";
}
@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Scripts/admin_css/map/leaflet.css", "Views/Event/Index.css" })
}
@section ScriptsJS{
	@Html.JSGetFileName(new List<string> { "Scripts/admin_js/map/leaflet.js", "Views/Event/Index.js" })
	<script>
    var lat = @Model.LatitudeString;
    var lon = @Model.LongitudeString;
	</script>
}

<div class="jumbotron" style="background-image:url('@Model.EventPhotoHome')">
	<div class="container">
		<div class=" justify-content-center">
		</div>
		<br>
	</div>
</div>
<main role="main" class="container">
	<div class="row details-box">
		<div class="col-3 calendar-box">
			<div class="calendar">
				<div>@Model.DateStart.Day</div>
				<span class="month">
					@Html.MonthName(Model.DateStart.Month)
				</span>
				<span>
					@Model.DateStart.ToString("HH:mm")
				</span><br>
				<small>
					@Model.Duration horas
				</small>
			</div>
		</div>
		<div class="col-9">
			<p class="title-name">
				@Model.Name
			</p>

			<p class="title-city">
				en <a href="/p/@Model.PlaceCode/@Model.PlaceName">@Model.PlaceName</a>, @Model.Address @Model.AddCityName
			</p>
		</div>
	</div>

	<div class="row ">
		<div class="d-none d-lg-block col-md-3 content-left">
			<partial name="PartialLeft">
		</div>
		<div class="col-md-8  col-lg-6">

			<div class="p-3 bg-white rounded">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-12 desc">
								<br>
								<p class="">
									@Model.Description
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 map-iframe">

					</div>
				</div>
			</div>
			<div class="p-3 bg-white rounded block-photo">
				<div class="photo">
					<img src="@Model.EventPhotoHome" />
				</div>
			</div>
			<div class="p-3 bg-white rounded block-contact">
				<div class="row">
					<h5>Dirección</h5>
					<div class="col-md-12 address">
						@Model.Address, @Model.AddCityName
					</div>
					<br>
					<div class="col-md-12 map">
						<div id="map_canvas"></div>
					</div>
					<br>
					<div class="col-12 text-center">
						<br>
						<a href="https://www.google.com/maps?q=@Model.LatitudeString,@Model.LongitudeString" target=_blank>Ver en google</a>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-3 content-right">
			<partial name="PartialRight">

		</div>
	</div>
</main>