﻿/*.map-iframe {
    padding: 15px;
}*/

.jumbotron {
    background-image: url("/photos/bailando3.jpg");
    background-color: #cccccc;
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -70px;
}

.justify-content-center {
    text-align: center;
}

.jumbotron h1 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-style: italic;
    color: white;
    line-height: 70px;
    font-weight: 600;
    font-size: 40px;
}

.rounded {
    margin-bottom: 10px;
}

.details-box {
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #e2e2e2;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 10px;
}

    .details-box .title {
        line-height: 33px;
        font-size: 24px;
    }

    .details-box .logo {
        padding: 0px;
    }

        .details-box .logo img {
            width: 90%;
            margin: 5%;
            border-radius: 70px;
        }

.title-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
}

.title-city {
    font-size: 15px;
    font-family: OpenSans-SemiBold;
}

.title-des {
    margin-top: 10px;
    font-family: OpenSans;
    font-size: 15px;
}

.submenu {
    list-style: none;
    float: left;
    margin: 0px;
}

    .submenu .nav-item {
        float: left;
    }

    .submenu a {
        color: #7e7e7e;
        font-size: 13px;
        padding: 0px 10px;
    }

.submenu-btns {
    float: right;
}

    .submenu-btns .btn {
        margin: 0px;
    }

#map_canvas {
    height: 250px;
    width: 100%;
    position: relative;
    z-index: 4;
}


h5 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gainsboro;
}

.address {
    margin-bottom: 10px;
    margin-top: 5px;
}



.calendar-box {
}

.calendar {
    border-radius: 5px;
    border: solid 1px #ededed;
    background-color: #ffffff;
    display: block;
    padding: 5px;
    text-align: center;
    width: 80px;
    font-size: 14px;
    margin: auto;
}

    .calendar div {
        font-size: 25px;
        color: #e02323;
        margin-bottom: 4px;
    }

    .calendar span {
        display: block;
    }

    .calendar .month {
        font-size: 12px;
        margin-bottom: 5px;
    }

.block-photo {
    padding: 0px !important;
}

.photo {
    max-height: 350px;
    overflow: hidden;
}

    .photo, .photo img {
        width: 100%;
    }
