﻿@using LVEBWeb.Helpers
@model LVEBWeb.App_Core.Main.Model.DetailsEventModel
@{
}

<div class="row details-box">
	<div class="col-lg-2 col-3">

		<div class="logo">
			<img src="@Model.PlacePhotoCodeIcon" />
		</div>
	</div>
	<div class="col-lg-3 col-9">
		<p class="title-name">
			@Model.Name
		</p>

		<p class="title-city">
			@Model.AddCityName
		</p>
	</div>
	<div class="col-lg-7 col-12">
		<p class="title-des">
			@Model.Description
		</p>
	</div>

	<div class="col-lg-2 col-0">

	</div>
</div>
