﻿@using LVEBWeb.Helpers
@{
	ViewData["Title"] = "";
	Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
@{
	var type = ViewData["Type"].ToString();
}

@section ScriptsJS {
}
@section ScriptsCSS{
	@Html.CSSGetFileName(new List<string> { "Views/Tools/PlaceImprove.css" })
}

@if (type == "propietario")
{
	<div class="block-center mt-xl wd-xl">
		<br>
		<p class="text-center"> </p>
		<div class="row">
			<div class="col">
				<p>¿Eres el responsable de <b>"@ViewData["PlaceName"]"</b>?</p>
				<p>Registrate y pulsa en tu nombre de usuario</p>
				<p>En Acceso Manager, indicanos tus datos y la información necesaria para validar que eres el propietrio.</p>
				<p>Gracias.</p>
			</div>
		</div>

	</div>
}



@if (type == "localcerrado")
{
	<div class="block-center mt-xl wd-xl">
		<br>
		<br>
		<br>
		<p class="text-center">¿Confirmas que <b>"@ViewData["PlaceName"]"</b> esta cerrado de forma permanente?</p>
		@using (Html.BeginForm())
		{

			<div class="row">
				<div class="col">
					<input type=hidden name="Type" value="@type" />
					<input type=hidden name="PlaceCode" value="@ViewData["PlaceCode"]" />
					<br />
					<button type=submit class="btn btn-success  btn-block ">Si, esta cerrado!</button>
					<br />
					<button type=submit class="btn btn-primary  btn-block ">No</button>


				</div>
			</div>

		}
	</div>
}