﻿@{
	Layout = "";
}

<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>La Vida Es Baile</title>
</head>
<body>
	<script>
if (window.parent.ToolframeClose)
            window.parent.ToolframeClose();
window.close();</script>
</body>
</html>
