﻿@using LVEBWeb.Helpers
@model LVEBWeb.App_Core.Main.BE.PlaceBE
@{
	ViewData["Title"] = Model.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["CurrentPage"] = "Places";
	ViewData["Submenu"] = "Info";
	ViewData["PlaceCode"] = Model.Code;
}
@{
	if (Model.IsDanceHall)
	{
		ViewData["CurrentPage"] = "DanceHall";
	}
	else
	{
		ViewData["CurrentPage"] = "DanceSchool";
	}
}

@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Scripts/admin_css/map/leaflet.css", "Views/Place/Index.css" })
}
@section ScriptsJS{
	@Html.JSGetFileName(new List<string> { "Scripts/admin_js/map/leaflet.js", "Views/Place/Index.js" })
	<script>
    var lat = @Model.LatitudeString;
    var lon = @Model.LongitudeString;
	</script>
}

<div class="jumbotron" style="background-image:url('@Model.PhotoCodeHome')">
	<div class="container">
		<div class=" justify-content-center">
		</div>
		<br>
	</div>
</div>
<main role="main" class="container">
	<partial name="PartialTop">
		<div class="row ">
			<div class="d-none d-lg-block col-md-3 content-left">
				<partial name="PartialLeft">
			</div>
			<div class="col-sm-12 col-md-8 col-lg-6">
				<div class="p-3 bg-white rounded">
					<div class="row">
						<div class="col-md-12">
							<p class="subtile">
								@Model.Name
							</p>
							<p class="">
								@Model.DescriptionFull
							</p>
						</div>
					</div>
				</div>
				<div class="p-3 bg-white rounded">
					<div class="row">
						<div class="col-md-12">
							<p class="subtile">
								Modalidades
							</p>

							<div class="col-md-12 ">
								@foreach (var tag in Model.TagsBailesList)
								{
									<span class="badge badge-pill badge-tag">@tag</span>
								}
							</div>
							<br />
							<div class="col-md-12 ">
								@foreach (var tag in Model.TagsProfilesList)
								{
									<span class="badge badge-pill badge-tag">@tag</span>
								}
							</div>
						</div>
					</div>
				</div>


				<div class="p-3 bg-white rounded block-address">
					<div class="row">
						<div class="col-md-12">
							<p class="subtile">
								Dirección
							</p>
							<div class="col-md-12 address">
								Estamos en @Model.AddCityName, @Model.AddStreet @Model.AddStreetNumber
							</div>
							<br>
							<div class="col-md-12 map">
								<div id="map_canvas"></div>
							</div>
							<br>
							<div class="col-12 text-center">
								<br>
								<a href="https://www.google.com/maps?q=@Model.LatitudeString,@Model.LongitudeString" target="_blank" rel="noreferrer">Ver en google</a>
							</div>
						</div>
					</div>
				</div>
				@if (Model.ContactWeb.Length > 0 || Model.ContactEmail.Length > 0 || Model.ContactPhone.Length > 0)
				{
					<div class="p-3 bg-white rounded block-contact">
						<div class="row">
							<div class="col-md-12">
								<p class="subtile">
									Contacto
								</p>
								@if (Model.ContactWeb.Length > 0)
								{
									<div class="col-md-12">
										<span>Web:</span> @Model.ContactWeb
									</div>
								}
								@if (Model.ContactEmail.Length > 0)
								{
									<div class="col-md-12">
										<span>Email:</span> @Model.ContactEmail
									</div>
								}
								@if (Model.ContactPhone.Length > 0)
								{
									<div class="col-md-12">
										<span>Teléfono:</span> @Model.ContactPhone
									</div>
								}
							</div>
						</div>
					</div>
				}

				<div class="p-3 bg-white rounded">
					<div class="row">
						<div class="col-md-12 hours">
							<p class="subtile">
								Horarios
							</p>
							<ul>
								@foreach (var d in Model.OpenHoursLines)
								{
									if (d != null)
									{
										<li>@Html.Raw(d)</li>
									}
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4  col-lg-3 content-right">
				<partial name="PartialRight">

			</div>
		</div>
</main>