﻿/*.map-iframe {
    padding: 15px;
}*/

.jumbotron {
    background-image: url("/photos/bailando3.jpg");
    background-color: #cccccc;
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -70px;
}

.justify-content-center {
    text-align: center;
}

.jumbotron h1 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-style: italic;
    color: white;
    line-height: 70px;
    font-weight: 600;
    font-size: 40px;
}

.rounded {
    margin-bottom: 10px;
}

.details-box {
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #e2e2e2;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 10px;
}

    .details-box .title {
        line-height: 33px;
        font-size: 24px;
    }

    .details-box .logo {
        padding: 0px;
    }

        .details-box .logo img {
            width: 90%;
            margin: 5%;
            border-radius: 70px;
        }

.title-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
}

.title-city {
    font-size: 15px;
    font-weight: bold;
}

.title-des {
    margin-top: 10px;
    font-family: OpenSans;
    font-size: 15px;
}

.submenu {
    list-style: none;
    float: left;
    margin: 0px;
}

    .submenu .nav-item {
        float: left;
    }

    .submenu a {
        color: #7e7e7e;
        font-size: 13px;
        padding: 0px 10px;
    }

.submenu-btns {
    float: right;
}

    .submenu-btns .btn {
        margin: 0px;
    }

#map_canvas {
    height: 250px;
    width: 100%;
    position: relative;
    z-index: 4;
}

.subtile {
    font-size: 15px;
    font-weight: bold;
}

.address {
    margin-bottom: 10px;
    margin-top: 5px;
}

.block-photo {
    padding: 0px !important;
}

.photo {
    max-height: 350px;
    overflow: hidden;
}

    .photo, .photo img {
        width: 100%;
    }



.venue-block, .event-block {
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #e2e2e2;
    background-color: #ffffff;
    padding: 5px 14px;
    margin-bottom: 15px;
}

    .venue-block .logo, .event-block .logo {
        padding: 0px;
    }

        .venue-block .logo img, .event-block .logo img {
            width: 80%;
            margin: 10%;
            border-radius: 70px;
        }


    .venue-block .title, .venue-block .subtitle, .event-block .subtile {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .event-block .title {
    }

    .venue-block div.title, .event-block div.title {
        line-height: 30px;
        font-weight: bold;
    }

        .venue-block div.title a, .event-block div.title a {
            color: black;
        }

    .venue-block div.subtitle, .event-block div.subtitle {
        font-size: 14px;
    }

    .venue-block .desc, .event-block .desc {
    }

        .venue-block .desc p, .event-block .desc p {
            line-height: 20px;
            font-size: 15px;
            color: #383838;
            height: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

    .event-block .photo {
        max-height: 200px;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .venue-block .photo {
        max-height: 350px;
        overflow: hidden;
    }

        .venue-block .photo, .event-block .photo, .venue-block .photo img, .event-block .photo img {
            width: 100%;
        }




.calendar-box {
    padding-top: 20px;
}

.calendar {
    border-radius: 5px;
    border: solid 1px #ededed;
    background-color: #ffffff;
    display: block;
    padding: 5px;
    text-align: center;
    width: 80px;
    font-size: 14px;
}

    .calendar div {
        font-size: 25px;
        color: #e02323;
        margin-bottom: 2px;
    }

    .calendar span {
        display: block;
    }

    .calendar .month {
        font-size: 12px;
        margin-bottom: 5px;
    }

.hours ul {
    margin-left: 50px;
    list-style: none;
}

.hours li span {
    width: 90px;
    display: inline-block;
}

h5 {
    width: 100%;
}

.block-contact span {
    width: 80px;
    display: inline-block;
    margin-left: 32px;
}

.local-improve {
}

    .local-improve ul {
        list-style: none;
        margin: 0px;
    }

    .local-improve li {
        margin-bottom: 14px;
        font-size: 14px;
        letter-spacing: 0.1px;
        color: #376672;
        cursor: pointer;
    }

        .local-improve li:hover {
            color: #e0c93c;
            text-decoration: underline;
        }

@media (max-width: 400px) {
    .block-contact span {
        /* width: 80px; */
        margin-left: 0px;
        font-size: 12px;
    }

    .hours ul {
        margin-left: -6px;
    }

    .hours li {
        font-size: 13px;
    }

        .hours li span {
            width: 65px;
        }
}
