﻿@using LVEBWeb.Helpers
@model LVEBWeb.App_Core.Main.Model.SearchItemEventModel
@{

}
<div class="event-block">
	<div class="row">
		<div class="col-3">
			<div class="calendar">
				<div>@Model.DateStart.Day</div>
				<span class="month">
					@Html.MonthName(Model.DateStart.Month)
				</span>
				<span>
					@Model.DateStart.ToString("HH:mm")
				</span>
			</div>
		</div>
		<div class="col-9">
			<div class="title"><a href="/e/@Model.Code/@Html.URLEncode(Model.Name.Replace(" ","-"))">@Model.Name    </a>    </div>
			@Model.PlaceCategories


			<br>
		</div>
		<br />
		<div class=" photo">
			<img src="@Model.EventPhotoHome" />
		</div>

		<div class="col-8 btns ">
			<!--    <button class="btn btn-outline-secondary btn-sm" data-url="@Html.Config_HostName()/e/@Model.Code/@Html.URLEncode(Model.Name.Replace(" ","-"))" role="button"><i class="ion ion-md-bookmark"></i> Guardar</button>
			-->
			<button class="btn btn-outline-secondary btn-sm" onclick="ShareLoad(this)" data-code="@Model.Code" data-url="@Html.Config_HostName()/e/@Model.Code/@Html.URLEncode(Model.Name.Replace(" ","-"))" data-text="@Model.Name" role="button"><i class="ion ion-md-share-alt"></i> Compartir</button>


		</div>
		<div class="col-4 btns">
			<p class="text-right">
				<a class="btn btn-outline-success btn-sm" href="/e/@Model.Code/@Html.URLEncode(Model.Name.Replace(" ","-"))" role="button">Detalles <i class="ion ion-md-arrow-forward"></i></a>
			</p>
		</div>
		<div class="col-md-12 shareIcons" id="shareIcons_@Model.Code">

		</div>
	</div>
</div>