﻿@using LVEBWeb.Helpers
@model LVEBWeb.App_Core.Main.BE.PlaceBE
@{
var submenu = ViewData["Submenu"].ToString();
}

<div class="row details-box">
    <div class="col-lg-2 col-3">

        <div class="logo">
            <img src="@Model.PhotoCodeIcon" />
        </div>
    </div>
    <div class="col-lg-3 col-9">
        <p class="title-name">
            @Model.Name
        </p>

        <p class="title-city">
            @Model.AddCityName
        </p>
    </div>
    <div class="col-lg-7 col-12">
        <p class="title-des">
            @Model.Description
        </p>
    </div>

    <div class="col-lg-2 col-0">

    </div>
    <div class="col-lg-10 col-12">

        <div class="submenu-btns">
            <!--       <button class="btn btn-outline-secondary btn-sm" data-url="@Html.Config_HostName()/p/@Model.Code/@Html.URLEncode(Model.Name.Replace(" ","-"))" role="button"><i class="ion ion-md-bookmark"></i> Guardar</button>
           -->
        </div>
        <ul class="submenu">
            <li class="nav-item @Html.Raw("Info"==submenu?"active":"")">
                <a class="nav-link" href="@Html.Config_HostName()/p/@Model.Code/@Html.URLEncode(Model.Name.Replace(" ","-"))">Información</a>
            </li>
            <li class="nav-item @Html.Raw("Events"==submenu?"active":"")">
                <a class="nav-link" href="@Html.Config_HostName()/p/@Model.Code/eventos/@Html.URLEncode(Model.Name.Replace(" ","-"))">Eventos</a>
            </li>
            <li class="nav-item @Html.Raw("Videos"==submenu?"active":"")">
                <a class="nav-link" href="@Html.Config_HostName()/p/@Model.Code/videos/@Html.URLEncode(Model.Name.Replace(" ","-"))">Videos</a>
            </li>
            <li class="nav-item @Html.Raw("Photos"==submenu?"active":"")">
                <a class="nav-link" href="@Html.Config_HostName()/p/@Model.Code/fotos/@Html.URLEncode(Model.Name.Replace(" ","-"))">Fotos</a>
            </li>
            <li class="nav-item @Html.Raw("Favorites"==submenu?"active":"")">
                <a class="nav-link" href="@Html.Config_HostName()/p/@Model.Code/favoritos/@Html.URLEncode(Model.Name.Replace(" ","-"))">Guardado por</a>
            </li>
        </ul>
    </div>
</div>
