﻿@using LVEBWeb.Helpers
@model LVEBWeb.App_Core.Main.BE.PlaceBE
@{
	ViewData["Title"] = "Photos de " + Model.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["CurrentPage"] = "Place";
	ViewData["Submenu"] = "Photos";
}

@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Views/Place/Index.css" })
}

<div class="jumbotron" style="background-image:url('@Model.PhotoCodeHome')">
	<div class="container">
		<div class=" justify-content-center">
		</div>
		<br>
	</div>
</div>
<main role="main" class="container">
	<partial name="PartialTop">
		<div class="row ">
			<div class="d-none d-lg-block col-md-3 content-left">
				<partial name="PartialLeft">

			</div>
			<div class="col-md-8  col-lg-6">

				<div class="p-3 bg-white rounded block-contact">
					<div class="row">
						<h5 class="text-center">Aun no tenemos fotos.</h5>


					</div>
				</div>



			</div>
			<div class="col-md-3 content-right">
				<partial name="PartialRight">

			</div>
		</div>
</main>