﻿@using LVEBWeb.Helpers
@model LVEBWeb.Models.LogOnModel
@{
	ViewBag.Title = "Data Manager Web";
	Layout = "/Views/Shared/_LayoutRegister.cshtml";
}


@section ScriptsCSS{
	@Html.CSSGetFileName(new List<string> { "Views/UserRegister/LogIn.css" })
}
@section ScriptsJS{
	@Html.JSGetFileName(new List<string> { "Views/UserRegister/LogIn.js" })
}

<div class="block-center mt-xl wd-xl block-login">
	<div class="row">
		<br><br>
		<p id="loginFB" style="display:none;">
			<a href="#" class="btn btn-outline-secondary  btn-block btn-facebook"><i class="fa fa-facebook jssocials-share-logo"></i> Continuar con Facebook</a>

		<p>
			<a href="/ur/register/googlestart" class="btn btn-outline-secondary btn-block btn-google" onclick="RegisterGoogleOpenModel(this);return false;"><i class="fa fa-google jssocials-share-logo"></i> Continuar con Google</a>
		</p>
		<p style="display:none">
			<a href="/ur/register/email" class="btn btn-secondary btn-block btn-email"><i class="fa fa-at jssocials-share-logo"></i> Continuar con tu Email</a>
		</p>
	</div>
	<br>
	<div class="row">
		<div class="regLegalDisclaimer">Al continuar, declaras tu conformidad con nuestras <a rel="nofollow" class="legalLink taLnk js_popup sz800x600" target="_blank" href="/pages/terms.html">condiciones de uso</a> y confirmas que has leído nuestra <a rel="nofollow" class="legalLink taLnk js_popup sz800x600" target="_blank" href="/pages/privacy.html">política de privacidad</a>. </div>
	</div>
</div>



