﻿html {
    height: 100%;
    padding: 0px;
}

body {
    margin: 0;
    padding: 20px;
}

.main {
    height: 100%;
    min-height: 700px;
    position: relative;
}

h1 {
    text-align: center;
}

#bottom_spacer {
    height: 45px;
}

#bottom {
    bottom: 20px;
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
}

    #bottom ul {
        padding: 0;
    }

    #bottom li {
        display: inline;
        padding: 0 15px 0 11px;
        background-size: 4px 5px;
        background-position: 100% 9px;
        background-repeat: no-repeat;
    }

        #bottom li.sep {
            padding: 0;
        }


@media only screen and (max-height: 740px) {
    #bottom {
        margin-top: 10px;
        position: relative;
    }
}

input {
    font-size: 14px;
    width: 200px;
    text-align: center;
}

.block-login p {
    width: 100%;
}

.btn-facebook, .btn-google {
    background-color: #fff;
    box-shadow: 1px 1px 0 #767676;
    border: 1px solid #e5e5e5;
    color: rgba(0,0,0,0.54);
}

    .btn-facebook:hover, .btn-google:hover {
        background-color: #fff;
        color: rgba(0,0,0,0.54);
    }

.validation-summary-valid, .validation-summary-errors {
    height: 30px;
    color: red;
}

    .validation-summary-errors ul {
        list-style: none;
        text-align: center;
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
    }
