﻿@using LVEBWeb.Helpers
@model LVEBWeb.App_Core.Main.Model.UserRegisterModel
@{
	ViewBag.Title = "La Vida Es Baile";
	Layout = "/Views/Shared/_LayoutRegister.cshtml";
}


@section ScriptsCSS{
	@Html.CSSGetFileName(new List<string> { "Views/UserRegister/LogIn.css" })
}
<div class="block-center mt-xl wd-xl">
	<p class="text-center">Bienvenido a La Vida Es Baile</p>
	<p class="text-center">Ya casi hemos terminado</p>

	@using (Html.BeginForm())
	{
		@Html.ValidationSummary("", "")

		<div class="row">
			<div class="col">
				<div class="form-group">
					<input type="email" class="form-control" name="UserEmail" placeholder="Correo Electrónico" value="@Model.UserEmail" required>
				</div>
				<div class="form-group">
					<input type=text class="form-control" name="UserName" placeholder="Nombre" value="@Model.UserName" required>
				</div>
				<br />
				<button type=submit class="btn btn-primary  btn-block ">Registrar</button>


			</div>
		</div>

	}
</div>
