﻿@using LVEBWeb.Helpers
@model LVEBWeb.Models.LogOnModel
@{
	ViewBag.Title = "La Vida Es Baile";
	Layout = "/Views/Shared/_LayoutRegister.cshtml";
}


@section ScriptsCSS{
	@Html.CSSGetFileName(new List<string> { "Views/User/Register.css" })
}
<div class="block-center mt-xl wd-xl">
	<h2>La Vida Es baile</h2>
</div>

<div class="block-center mt-xl wd-xl">

	<div class="row">
		<div class="regLegalDisclaimer">
			Gracias.
			<br>
			Te mantendremos informado.
		</div>
	</div>

</div>
