﻿html {
    background-color: white;
}

body {
    padding-top: 15px;
    background-color: white;
}

main {
    width: 300px;
    margin: auto;
    padding: 5px;
}



.btn-email {
    background-color: #376672;
    box-shadow: 1px 1px 0 #767676;
    border: 0px solid;
    color: white;
}

    .btn-email:hover {
        background-color: #17323b;
    }

.block-sep {
    width: 100%;
    border-bottom: 2px solid gainsboro;
    text-align: center;
    line-height: 5px;
}

    .block-sep span {
        margin: auto;
        position: relative;
        background: white;
        top: 4px;
        width: 30px;
        color: #767676;
        display: block;
        margin-top: 15px;
    }
