﻿@using LVEBWeb.Helpers
@model LVEBWeb.App_Core.Main.BE.PlaceBE
@{
	ViewData["Title"] = "Admin";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Scripts/admin_css/map/leaflet.css", "Views/Places/Details.css" })
}
@section ScriptsJS{
	@Html.JSGetFileName(new List<string> { "Scripts/admin_js/map/leaflet.js", "Views/Places/Details.js" })
	<script>
    var lat = @Model.LatitudeString;
    var lon = @Model.LongitudeString;
	</script>
}

<div class="jumbotron" style="background-image:url('@Model.PhotoCodeHome')">
	<div class="container">
		<div class=" justify-content-center">
		</div>
		<br>
	</div>
</div>
<main role="main" class="container">
	<partial name="PartialTop">
		<div class="row ">
			<div class="d-none d-lg-block col-md-3 content-left">
				<partial name="PartialLeft">

			</div>
			<div class="col-md-8  col-lg-6">

				<div class="p-3 bg-white rounded block-contact">
					<div class="row">
						<h5>Contacto</h5>
						<div class="col-md-12 address">
							Estamos en @Model.AddCityName, @Model.AddStreet @Model.AddStreetNumber
						</div>
						<br>
						<div class="col-md-12 map">
							<div id="map_canvas"></div>
						</div>
						<br>
						<div class="col-12 text-center">
							<a href="https://www.google.com/maps?q=@Model.LatitudeString,@Model.LongitudeString" target=_blank>Ver en google</a>
						</div>
					</div>
				</div>

				<div class="p-3 bg-white rounded">

					<div class="row">

						<div class="col-md-12">

							<div class="row">

								<div class="col-12 desc">
									<br>
									<p class="">
										@Model.DescriptionFull
									</p>
								</div>

								<h5>Modalidades</h5>

								<div class="col-md-12 ">
									@foreach (var tag in Model.TagsBailesList)
									{
										<span class="badge badge-pill badge-info">@tag</span>
									}
								</div>
								<div class="col-md-12 ">
									@foreach (var tag in Model.TagsProfilesList)
									{
										<span class="badge badge-pill badge-light">@tag</span>
									}
								</div>
							</div>
						</div>
						<div class="col-md-12 map-iframe">

						</div>
						<div class="col-md-12 map-iframe">



							<!--
													<iframe src="https://www.google.com/maps/embed/@Model.Latitude,@Model.Longitude" width="100%" height="400" style="border:0"></iframe>
							-->
						</div>

					</div>
				</div>


			</div>
			<div class="col-md-3 content-right">
				<partial name="PartialRight">

			</div>
		</div>
</main>