﻿html{
    height:100%;
}
body{
    margin:0;
}
.main {
    height: 100%;
       min-height: 700px;
    position: relative;
}
h1{
    text-align:center;
}
#bottom_spacer{
    height:45px;
}
#bottom {
    bottom: 20px;
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
}
#bottom ul{
    padding: 0;
}
    #bottom li {
        display: inline;
        padding: 0 15px 0 11px;
        background-size: 4px 5px;
        background-position: 100% 9px;
        background-repeat: no-repeat;
    }

        #bottom li.sep {
            padding: 0;
        }


@media only screen and (max-height: 740px) {
    #bottom{
        margin-top:10px;
        position:relative;
    }
}
input{
    font-size: 14px;
    width: 200px;
    text-align: center;
}