﻿@using LVEBWeb.Helpers
@model LVEBWeb.Models.LogOnModel
@{
	ViewBag.Title = "Data Manager Web";
	Layout = "/Views/Shared/_LayoutAdminLogin.cshtml";
}

<div class="block-center mt-xl wd-xl" style="width: 300px;margin: auto;padding: 5px;">
	@using (Html.BeginForm())
	{
		@Html.ValidationSummary("", "")
		<div class="panel panel-dark panel-flat">
			<div class="panel-heading text-center">
				<img src="/images/LogoLaVidaEsBaile1.jpg" style="width: 100%;" />
			</div>
			<div class="panel-body">
				<p class="text-center pv"></p>
				<div class="form-group has-feedback">
					<input id="UserName" name="UserName" type="text" placeholder="Email" autocomplete="off" class="form-control" />
					<span class="fa fa-envelope form-control-feedback text-muted" style="top: 0;"></span>
				</div>
				<div class="form-group has-feedback">
					<input id="Password" name="Password" type="password" placeholder="Password" class="form-control" />
					<span class="fa fa-lock form-control-feedback text-muted" style="top: 0;"></span>
				</div><div class="form-group has-feedback">
					<button type="submit" class="btn btn-block btn-outline-dark mt-lg">Login</button>
				</div>
			</div>
			<p class="has-text-grey is-size-7 has-text-centered" style="text-align: center;">
				<a href="/PasswordForgot">Password Perdido?</a>
			</p>
		</div>
	}
</div> 