﻿@using LVEBWeb.Helpers
@model LVEBWeb.Models.PasswordRecoverModel
@{
	ViewBag.Title = "Forgot your password?";
	Layout = "/Views/Shared/_LayoutAdminLogin.cshtml";
}
@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Views/LogIn/LogIn.css" })
}	<div class="block-center mt-xl wd-xl" style="		width: 300px;
		margin: auto;
		padding: 5px;">


	<br /><br /><br /><br />
	<div class="panel panel-dark panel-flat">
		<div class="panel-heading text-center">

			<img src="/images/LogoLaVidaEsBaile1.jpg" style="		width: 100%;">

		</div>
		<div class="panel-body">
			@using (Html.BeginForm())
			{

				@Html.ValidationSummary("", "")
				<p class="text-center pv"><br /></p>
				<div class="field">
					<div class="control text-center">
						@Html.Raw("<p>Indica el email asociado a tu cuenta y te enviaremos un email con el link para cambiar el password.</p>")
					</div>
				</div>

				<div class="form-group has-feedback">
					<input name="Email" class="form-control" type="text" pattern="@ViewData["EmailRE"]" placeholder="Email" autofocus="" required data-parsley-type="email">
					<span class="fa fa-envelope form-control-feedback text-muted" style="		top: 0;"></span>
				</div>
				<div class="form-group has-feedback">
					<button type="submit" class="btn btn-block btn-outline-dark mt-lg">Reset password</button>
				</div>
			}
		</div>

		<p class="has-text-grey is-size-7 has-text-centered" style="		text-align: center;">

			<span> <a href="/LogIn">Log In</a></span>
		</p>
	</div>


