﻿@using LVEBWeb.Helpers
@{
	ViewBag.Title = "Reset password confirmation";
	Layout = "/Views/Shared/_LayoutAdminLogin.cshtml";
}
@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Views/AdminLogIn/LogIn.css" })
}
<section class="hero is-fullheight">
	<div class="hero-body">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-one-third">
					<h3 class="title has-text-grey">Success</h3>
					<!-- <p class="subtitle has-text-grey">@Html.SiteName()&trade;</p> -->
					<div class="notification">
						<p>Your password has been reset. You can now log in to your account.</p>
						<p>&nbsp;</p>
						<p>
							<a class="button is-primary is-block is-medium" href="/LogIn">Log in</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
