﻿@using LVEBWeb.Helpers
@{
	ViewBag.Title = "Forgot Password Confirmation";
	Layout = "/Views/Shared/_LayoutAdminLogin.cshtml";
}
@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Views/AdminLogIn/LogIn.css" })
}
<div class="block-center mt-xl wd-xl" style="		width: 300px;
		margin: auto;
		padding: 5px;">
	<br /><br /><br /><br />
	<div class="panel panel-dark panel-flat">
		<div class="panel-heading text-center">
			<img src="/images/LogoLaVidaEsBaile1.jpg" style="		width: 100%;">
		</div>
		<div class="panel-body">


			@if (Convert.ToBoolean(ViewData["WasOk"]))
			{
				<h3 class="title has-text-grey">Email Enviado</h3>
				<!-- <p class="subtitle has-text-grey">@Html.SiteName()&trade;</p> -->
				<div class="notification">
					<p>Comprueba tu email. Hemos enviado un link para hacer para cambiar el password.</p>
				</div>

			}
			else
			{
				<h3 class="title has-text-grey">Email no registrado</h3>
				<div class="notification">
					<p>Disculpa, este email no esta registrado en nuestro sistema.</p>
				</div>
			}

		</div>
		<p class="has-text-grey is-size-7 has-text-centered" style="		text-align: center;">
			<span> <a href="/LogIn">Log In</a></span>
		</p>
	</div>
</div>