﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Admin.BE;
@model LVEBWeb.App_Core.Admin.BE.EventBE
@{
	ViewBag.Title = "VXVenues";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
@{
	var provinces = (List<DICProvinceBE>)ViewData["Provinces"];
	var cities = (List<DICCityBE>)ViewData["Cities"];
	var categories = (List<DICValueBE>)ViewData["Categories"];
}
@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Scripts/admin_css/map/leaflet.css", "Views/Admin/Events/EventsEdit.css" })
}
@section ScriptsJS{
	@Html.JSGetFileName(new List<string> { "Scripts/admin_js/map/leaflet.js", "Views/Admin/Events/EventsEdit.js" })
	<script>
	    $("#Status").val(@Model.Status);
	</script>
}
<div class="page-title">

	<button id="BtnDelete" name="BtnDelete" class="btn btn-waring mt-lg" onclick="return false;">Borrar</button>
	<button id="BtnSave" class="btn btn-success mt-lg" onclick="return false;">Guardar</button>
	<h2 class="page-title">
		Evento / Editar <small>du: @Model.UpdateDate</small>
	</h2>
</div>

<nav>
	<div class="nav nav-tabs" id="tab-edit" role="tablist">
		<a class="nav-item nav-link active" id="nav-name-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-name" aria-selected="true">Detalles</a>
		<a class="nav-item nav-link" id="nav-description-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-description" aria-selected="false">Descripcion</a>
		<a class="nav-item nav-link" id="nav-address-tab" data-toggle="tab" href="#nav-address" role="tab" aria-controls="nav-address" aria-selected="false">Dirección</a>
		<a class="nav-item nav-link" id="nav-poster-tab" data-toggle="tab" href="#nav-address" role="tab" aria-controls="nav-poster" aria-selected="false">Poster</a>
	</div>
</nav>

<form id="vxvenue_save" method="post" enctype="multipart/form-data">
	<div class="row">
		<div class="col-12 tab-edit">
			<div class="form-row nav-name-tab">
				<div class="col-12">
					<h3>Evento</h3>
				</div>
				<div class="col-md-4 mb-4">
					<label for="EditCode">Codígo</label>
					<input type="text" id="EditCode" name="Code" value="@Model.Code" class="form-control"
						   readonly="readonly" />
				</div>

				<div class="col-md-4 mb-4">
					<label for="DateStart">Fecha</label>

					<input type="datetime-local" id="DateStart" name="DateStart" value="@Model.DateStart.ToString("yyyy-MM-ddTHH:mm")" class="form-control" />

				</div>
				<div class="col-md-4 mb-4">
					<label for="Duration">Horas</label>

					<input type=number id="Duration" name="Duration" value="@Model.Duration" class="form-control" />

				</div>

			</div>
			<div class="form-row nav-name-tab">
				<div class="col-md-10 mb-10">
					<label for="Name">Nombre</label>

					<input type="text" id="Name" name="Name" value="@Model.Name" class="form-control" />

				</div>

				<div class="col-md-2 mb-2">
					<label for="Status">Estado</label>

					<select type="text" id="Status" name="Status" class="form-control">
						<option value="200001">Borrardor</option>
						<option value="200002">Activo</option>
						<option value="200003">Cancelado</option>
					</select>
				</div>
			</div>


			<div class="form-row nav-name-tab">
				<div class="col-md-12 mb-12">
					<label>Category</label>

					<select type="text" id="Category" name="Category" class="form-control">
						@foreach (var p in categories)
						{
							@if (Model.Category == p.Code)
							{
								<option value="@p.Code" selected="selected">@p.Name</option>
							}
							else
							{
								<option value="@p.Code">@p.Name</option>
							}
						}
					</select>
				</div>

			</div>
			<div class="form-row nav-description-tab">
				<div class="col-md-12 mb-12">
					<h3>Description</h3>
					<textarea name="Description" class="form-control" required>@Model.Description</textarea>
				</div>
			</div>


			<div class="form-row nav-description-tab">
				<div class="col-md-6 mb-6">
					<label for="">Local</label>

					<input type="text" id="PlaceName" name="PlaceName" value="@Model.PlaceName" class="form-control" />

				</div>
				<div class="col-md-6 mb-6">
					<label for="">Code</label>
					<input type=text id="PlaceCode" name="PlaceCode" value="@Model.PlaceCode" class="form-control" />


				</div>
			</div>
			<div class="form-row nav-description-tab">
				<div class="col-md-12 mb-12">
					<label>Dirección</label>

					<input type="text" name="AddStreet" id="AddStreet" value="@Model.AddStreet" class="form-control" />


				</div>
			</div>
			<div class="form-row nav-address-tab">
				<div class="col-12">
					<h3>Dirección</h3>
				</div>
				<div class="col-md-6 mb-6">
					<label for="exampleFormControlInput1">Provincia</label>
					<select type="text" id="AddProvinceCode" name="AddProvinceCode" class="form-control">

						<option value="" selected="selected">-- Filtrar por Provincia --</option>
						@foreach (var p in provinces)
						{
							@if (Model.AddProvinceCode == p.Code)
							{
								<option value="@p.Code" selected="selected">@p.Name</option>
							}
							else
							{
								<option value="@p.Code">@p.Name</option>
							}
						}
					</select>

				</div>
				<div class="col-md-6 mb-6">
					<label for="exampleFormControlInput1">Ciudad</label>

					<select type="text" name="AddCityCode" id="AddCityCode" class="form-control">

						@foreach (var p in cities)
						{
							@if (Model.AddCityCode == p.Code)
							{

								<option value="@p.Code" selected="selected">@p.Name</option>
							}
							else
							{
								<option value="@p.Code">@p.Name</option>
							}
						}
					</select>

				</div>
			</div>
			<div class="form-row nav-address-tab">
				<div class="col-md-6 mb-6">
					<label>Latitude</label>
					<input type="text" id="EditLat" name="Latitude" value="@Model.Latitude" class="form-control" />
				</div>
				<div class="col-md-6 mb-6">
					<label>Longitude</label>

					<input type="text" id="EditLon" name="Longitude" value="@Model.Longitude" class="form-control" />

				</div>
			</div>
			<div class="form-row nav-address-tab">


				<div id="map_canvas"></div>

			</div>
			<br>
			<br>
			@if (Model.PlaceCode != "")
			{
				<div class="form-row nav-poster-tab">

					<div class="col-md-8 mb-8 event-file">
						<input type="File" name="File"><br><br>
					</div>
					<div class="col-md-4 mb-4">
						<img src="/ei/@Model.PlaceCode/@Model.Code" />
					</div>

				</div>
				<br>
				<br>
			}
		</div>
	</div>
</form>
