﻿#map_canvas {
    height: 250px;
    width: 100%;
    position: relative;
    margin: 5px 15px 5px;
}

textarea {
    width: 100%;
    height: 200px;
}

#BtnSave, #BtnDelete {
    float: right;
    margin-right: 50px;
    margin-top: 4px;
}

#form {
    margin-top: 20px;
}
