﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Admin.BE;
@model LVEBWeb.App_Core.Admin.BE.CompanyBE
@{
	ViewBag.Title = "Empresas";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
@{

	var provinces = (List<DICProvinceBE>)ViewData["Provinces"];
	var types = (List<DICValueBE>)ViewData["Types"];
	var cities = (List<DICCityBE>)ViewData["Cities"];
	var typeLegalID = (List<DICValueBE>)ViewData["TypeLegalID"];

	var categories = (List<DICValueBE>)ViewData["Categories"];
}
@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Views/Admin/Businesses/CompanyEdit.css" })
}
@section ScriptsJS{
	@Html.JSGetFileName(new List<string> { "Views/Admin/Businesses/CompanyEdit.js", "Views/Admin/Businesses/CompanyEditPlaces.js", "Views/Admin/Businesses/CompanyEditUsers.js" })
}
<div class="page-title">
	<button id="BtnDelete" name="BtnDelete" class="btn btn-waring mt-lg" onclick="return false;">Borrar</button>
	<button id="BtnSave" class="btn btn-success mt-lg" onclick="return false;">Guardar</button>
	<h2 class="page-title">
		Empresa / Editar  <small>du: @Model.UpdateDate</small>
	</h2>
</div>

<nav>
	<div class="nav nav-tabs" id="tab-edit" role="tablist">
		<a class="nav-item nav-link active" id="nav-name-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-name" aria-selected="true">Detalles</a>
		<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false">Contactos</a>
		<a class="nav-item nav-link" id="nav-address-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-address" aria-selected="false">Dirección</a>
		<a class="nav-item nav-link" id="nav-users-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false">Usuarios</a>
		<a class="nav-item nav-link" id="nav-places-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false">Locales</a>
	</div>
</nav>
<form id="vxvenue_save" method="post">

	<div class="row">
		<div class="col-12 tab-edit">

			<div class="form-row nav-name-tab">
				<div class="col-12">
					<h3>Detalles</h3>
				</div>
				<div class="col-md-2 mb-6">
					<label for="exampleFormControlInput1">Codígo</label>
					<input type="text" id="EditCode" name="Code" value="@Model.Code" class="form-control"
						   readonly="readonly" />
				</div>

				<div class="col-md-4 mb-6">
					<label for="exampleFormControlInput1">Nombre</label>

					<input type="text" id="Name" name="Name" value="@Model.Name" class="form-control" />

				</div>
				<div class="col-md-6 mb-6">
					<label for="BusinessName">Nombre negocio</label>

					<input type="text" id="BusinessName" name="BusinessName" value="@Model.BusinessName" class="form-control" />

				</div>
			</div>
			<div class="form-row nav-name-tab">

				<div class="col-md-6 mb-6">
					<label for="exampleFormControlInput1">Tipo Socio</label>
					<select type="text" name="SocioTypeCode" class="form-control">

						@foreach (var p in types)
						{
							@if (Model.Type == p.Code)
							{
								<option value="@p.Code" selected="selected">@p.Name</option>
							}
							else
							{
								<option value="@p.Code">@p.Name</option>
							}
						}
					</select>

				</div>

				<div class="col-md-3 mb-3">


				</div>
				<div class="col-md-3 mb-3">
					<label for="VatNumber">VatNumber</label>

					<input type="text" id="VatNumber" name="VatNumber" value="@Model.VatNumber" class="form-control" />

				</div>
				<div class="col-md-12 mb-12">
					<label for="Notas">Notas</label>
					<textarea name="Notes" class="form-control">@Model.Notes</textarea>
				</div>

				<div class="col-md-3 mb-3">
					<label for="Extra1">Extra1</label>
					<input type="text" id="Extra1" name="Extra1" value="@Model.Extra1" class="form-control" />
				</div>

				<div class="col-md-3 mb-3">
					<label for="Extra2">Extra2</label>
					<input type="text" id="Extra2" name="Extra2" value="@Model.Extra2" class="form-control" />
				</div>

			</div>

			<div class="form-row nav-contact-tab">

				<div class="col-md-12 mb-12">
					<h3>Contact</h3>
				</div>

				<div class="col-md-3 mb-3">
					<label for="ContactPhone">ContactPihone</label>
					<input type="text" id="ContactPhone" name="ContactPhone" value="@Model.ContactPhone" class="form-control" />
				</div>

				<div class="col-md-3 mb-3">
					<label for="ContactEmail">ContactEmail</label>
					<input type="text" id="ContactEmail" name="ContactEmail" value="@Model.ContactEmail" class="form-control" />
				</div>

				<div class="col-md-3 mb-3">
					<label for="ContactWeb">ContactWeb</label>
					<input type="text" id="ContactWeb" name="ContactWeb" value="@Model.ContactWeb" class="form-control" />
				</div>

				<div class="col-md-3 mb-3">
					<label for="ContactOthers">ContactOthers</label>
					<input type="text" id="ContactOthers" name="ContactOthers" value="@Model.ContactOthers" class="form-control" />
				</div>

			</div>
			<div class="form-row nav-address-tab">
				<div class="col-12">
					<h3>Dirección</h3>
				</div>
				<div class="col-md-6 mb-6">
					<label for="exampleFormControlInput1">Dirección</label>

					<input type="text" name="AddStreet" id="AddStreet" value="@Model.AddStreet" class="form-control" />

				</div>
				<div class="col-md-3 mb-3">
					<label for="exampleFormControlInput1">Número</label>

					<input type="text" name="AddStreetNumber" value="@Model.AddStreetNumber" class="form-control" />

				</div>
				<div class="col-md-3 mb-3">
					<label for="exampleFormControlInput1">CP</label>

					<input type="text" id="EditAddPC" name="AddCP" value="@Model.AddCP" class="form-control" />

				</div>
			</div>
			<div class="form-row nav-address-tab">
				<div class="col-md-6 mb-6">
					<label for="exampleFormControlInput1">Provincia</label>
					<select type="text" name="AddProvinceCode" id="AddProvinceCode" class="form-control">

						<option value="" selected="selected">-- Filtrar por Provincia --</option>
						@foreach (var p in provinces)
						{
							@if (Model.AddProvinceCode == p.Code)
							{
								<option value="@p.Code" selected="selected">@p.Name</option>
							}
							else
							{
								<option value="@p.Code">@p.Name</option>
							}
						}
					</select>

				</div>
				<div class="col-md-6 mb-6">
					<label for="exampleFormControlInput1">Ciudad</label>

					<select type="text" name="AddCityCode" id="AddCityCode" class="form-control">

						@foreach (var p in cities)
						{
							@if (Model.AddCityCode == p.Code)
							{

								<option value="@p.Code" selected="selected">@p.Name</option>
							}
							else
							{
								<option value="@p.Code">@p.Name</option>
							}
						}
					</select>
				</div>
			</div>

		</div>
	</div>
</form>

<div class="row">
	<div class="col-12  tab-edit">
		<br>
		<div class="form-row nav-users-tab">
			<div class="col-12">
				<button id="BtnUserAdd" class="btn btn-outline-success" onclick="UsersSearchStart();" style="float: right;">Añadir Usuario</button>
				<button id="BtnUserCancel" class="btn btn-outline-success" onclick="UsersCancel();" style="float: right;display:none;">Cancelar</button>
				<h3>Usuarios</h3>
			</div>
			<div class="col-md-12 mb-12" id="user_list">
				<div id="GridUsers"></div>
			</div>
			<div class="col-md-12 mb-12" id="user_search" style="display:none">
				<div class="row">
					<div class="col-2">
						<input type="text" id="userFilterName" class="form-control" placeholder="Nombre" />
					</div>

					<div class="col-3">
						<a href="#" class="btn btn-default" onclick="UsersSearch();">Buscar</a>
					</div>
				</div>
				<div id="GridUserSearch"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 tab-edit">
		<br>

		<div class="form-row nav-places-tab">
			<div class="col-12">
				<button id="BtnPlaceAdd" class="btn btn-outline-success" onclick="PlacesSearchStart();" style="float: right;">Añadir Local</button>
				<button id="BtnPlaceCancel" class="btn btn-outline-success" onclick="PlaceCancel();" style="float: right;display:none;">Cancelar</button>
				<h3>Locales</h3>
			</div>
		</div>
		<div class="form-row nav-places-tab">
			<br>
			<div class="col-md-12 mb-12" id="place_list">
				<div id="GridPlaces"></div>
			</div>
			<div class="col-md-12 mb-12" id="place_search" style="display:none">
				<div class="row">
					<div class="col-2">
						<input type="text" id="placeFilterName" class="form-control" placeholder="Nombre" />
					</div>
					<div class="col-2">
						<select type="text" id="placeFilterProvince" class="form-control">
							<option value="" selected="selected">-- Filtrar por Provincia --</option>
							@foreach (var p in provinces)
							{
								<option value="@p.Code">@p.Name</option>
							}
						</select>
					</div>
					<div class="col-2">
						<select type="text" id="placeFilteCategory" class="form-control">
							<option value="" selected="selected">-- Seleccionar --</option>
							@foreach (var p in categories)
							{
								<option value="@p.Code">@p.Name</option>
							}
						</select>
					</div>


					<div class="col-3">
						<a href="#" class="btn btn-default" onclick="PlacesSearchStart();">Buscar</a>
					</div>
				</div>
				<div id="GridPlacesSearch"></div>
			</div>
		</div>
	</div>
</div>