﻿@using LVEBWeb.Helpers
@using LVEBWeb.App_Core.Admin.BE;
@model LVEBWeb.App_Core.Admin.BE.UserBE
@{
	ViewBag.Title = "Usuarios";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
@{

	var provinces = (List<DICProvinceBE>)ViewData["Provinces"];
	var cities = (List<DICCityBE>)ViewData["Cities"];
}
@section ScriptsCSS {
	@Html.CSSGetFileName(new List<string> { "Views/Admin/Businesses/UserEdit.css" })
}
@section ScriptsJS{
	@Html.JSGetFileName(new List<string> { "Views/Admin/Businesses/UserEdit.js" })
}
<div class="page-title">

	<button id="BtnDelete" name="BtnDelete" class="btn btn-waring mt-lg" onclick="return false;">Borrar</button>
	<button id="BtnSave" class="btn btn-success mt-lg" onclick="return false;">Guardar</button>
	<h2 class="page-title">
		Usuario / Editar  <small>du: @Model.UpdateDate</small>
	</h2>
</div>

<nav>
	<div class="nav nav-tabs" id="tab-edit" role="tablist">
		<a class="nav-item nav-link active" id="nav-name-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-name" aria-selected="true">Detalles</a>
		<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false">Contactos</a>
		<a class="nav-item nav-link" id="nav-companies-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false">Empresas</a>
	</div>
</nav>
<form id="vxvenue_save" method="post">

	<div class="row">
		<div class="col-12 tab-edit">

			<div class="form-row nav-contact-tab">

				<div class="col-md-12 mb-12">
					<h3>Contact</h3>
				</div>

				<div class="col-md-3 mb-3">
					<label for="Email">Email</label>
					<input type="text" id="Email" name="Email" value="@Model.Email" class="form-control" />
				</div>

				<div class="col-md-3 mb-3">
					<label for="Phone">Phone</label>
					<input type="text" id="Phone" name="Phone" value="@Model.Phone" class="form-control" />
				</div>


			</div>


			<div class="form-row nav-name-tab">
				<div class="col-12">
					<h3>Detalles</h3>
				</div>
				<div class="col-md-2 mb-2">
					<label for="exampleFormControlInput1">Codígo</label>
					<input type="text" id="EditCode" name="Code" value="@Model.Code" class="form-control"
						   readonly="readonly" />
				</div>
				<div class="col-md-4 mb-4">
					<label for="Nickname">Nick</label>

					<input type="text" id="Nickname" name="Nickname" value="@Model.Nickname" class="form-control" />

				</div>

				<div class="col-md-6 mb-6">
					<label for="Name">Name</label>

					<input type="text" id="Name" name="Name" value="@Model.Name" class="form-control" />

				</div>

				<div class="col-md-6 mb-6">
					<label for="BirthDate">BirthDate</label>

					<input type=date id="BirthDate" name="BirthDate" value="@Model.BirthDate" class="form-control" />

				</div>
			</div>

			<div class="form-row nav-name-tab">
				<div class="col-md-12 mb-12">
					<label for="Notas">Notas</label>
					<textarea name="Notes" class="form-control">@Model.Notes</textarea>
				</div>


			</div>

			<div class="form-row nav-name-tab">
				<div class="col-md-6 mb-6">
					<label for="exampleFormControlInput1">Provincia</label>
					<select type="text" name="AddProvinceCode" id="AddProvinceCode" class="form-control">

						<option value="" selected="selected">-- Filtrar por Provincia --</option>
						@foreach (var p in provinces)
						{
							@if (Model.AddProvinceCode == p.Code)
							{
								<option value="@p.Code" selected="selected">@p.Name</option>
							}
							else
							{
								<option value="@p.Code">@p.Name</option>
							}
						}
					</select>

				</div>
				<div class="col-md-6 mb-6">
					<label for="exampleFormControlInput1">Ciudad</label>

					<select type="text" name="AddCityCode" id="AddCityCode" class="form-control">

						@foreach (var p in cities)
						{
							@if (Model.AddCityCode == p.Code)
							{

								<option value="@p.Code" selected="selected">@p.Name</option>
							}
							else
							{
								<option value="@p.Code">@p.Name</option>
							}
						}
					</select>

				</div>
			</div>


		</div>
	</div>
</form>


<div class="row">
	<div class="col-12  tab-edit">
		<br>
		<div class="form-row nav-companies-tab">
			<div class="col-12">
				<h3>Empresas</h3>
			</div>
			<div class="col-md-12 mb-12" id="user_list">
				<div id="GridCompanies"></div>
			</div>
			<div class="col-md-12 mb-12" id="user_search" style="display:none">
				<div class="row">
					<div class="col-2">
						<input type="text" id="userFilterName" class="form-control" placeholder="Nombre" />
					</div>

					<div class="col-3">
						<a href="#" class="btn btn-default" onclick="UsersSearch();">Buscar</a>
					</div>
				</div>
				<div id="GridUserSearch"></div>
			</div>
		</div>
	</div>
</div>