﻿
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    padding-top: 30px;
    background-color: #f2f2f2;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    font-weight: 600;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.hidden {
    display: none !important;
}


.flag {
    width: 25px;
    opacity: 0.6;
}

#bck-full {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: gainsboro;
    z-index: 100;
    opacity: 0.5;
}

#bck-working {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(50,50,50,0.3);
    z-index: 2000;
    display: none;
    text-align: center;
}

    #bck-working-close, #bck-working div {
        margin-top: 65px;
    }

/*
#cookie-box {
    position: fixed;
    right: 25px;
    width: 400px;
    background: gainsboro;
    top: 4px;
    z-index: 9999;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
*/
#cookieConsent {
    background: #376672;
    display: table;
    width: 100%;
}

    #cookieConsent .navbar-header {
        display: none;
    }

    #cookieConsent .navbar-right {
        min-width: 265px;
    }
/* offcanvas: Start */
@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 45px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #17323b;
        transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }

        .offcanvas-collapse.open {
            visibility: visible;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

    .nav-scroller .nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        color: rgba(255, 255, 255, .75);
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

    .nav-underline .nav-link:hover {
        color: #007bff;
    }

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.nav-item {
    position: relative;
    line-height: 33px;
    font-size: 16px !important;
    text-align: center;
}

    .nav-item.active a {
        color: #e8c05f !important;
    }

        .nav-item.active a::after {
            left: calc(50% - 14px) !important;
            border-right-width: 14px !important;
            border-left-width: 14px !important;
            border-bottom-width: 14px !important;
            border-bottom-color: #fff !important;
            overflow: hidden !important;
            border-bottom-style: solid !important;
            width: 0 !important;
            border-right-style: solid !important;
            border-right-color: transparent !important;
            border-left-style: solid !important;
            border-left-color: transparent !important;
            content: "" !important;
            bottom: 0 !important;
            position: absolute !important;
        }
/* offcanvas: End */

.navbar-collapse {
    padding-left: 30px;
}

.navbar-brand img {
    display: none;
    height: 55px;
    margin-top: 4px;
}

@media (max-width: 991.98px) {

    .navbar-collapse {
        max-width: 300px;
        top: 65px;
    }

        .navbar-collapse .nav-item {
            text-align: left;
        }

    .nav-item a::after {
        display: none;
    }

    .text-nowrap {
        text-align: right !important;
    }

    .navbar-brand span {
        display: none;
    }

    .navbar-brand img {
        display: block;
    }
}

#ddm-register {
    padding: 5px 15px;
}

.content-right-item, .content-left-info, .content-left-action {
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
}



.content-right {
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .content-right > div {
        margin-right: 0px !important;
    }
}

.content-right .btn {
    margin-top: 20px;
}

.content-right-item {
}

.content-left {
}


.content-left-info {
    border-top: solid 12px #ff312e;
    background: #1a3239;
    color: white;
}

    .content-left-info img {
        width: 100%;
        height: 100%;
    }

    .content-left-info h5, .content-left-info p {
        text-align: center;
    }

    .content-left-info h5 {
        color: #e0c93c;
        width: 100%;
    }

    .content-left-info p {
        font-size: 12px;
    }

    .content-left-info ul {
        padding: 0;
        margin: 0;
        text-align: center;
        list-style: none;
    }

    .content-left-info li {
        margin-bottom: 13px;
        font-size: 14px;
        letter-spacing: 0.1px;
    }

.content-left-action {
}

#toolframe {
    width: 100%;
    position: fixed;
    display: block;
    top: 85px;
    margin: auto;
    text-align: center;
    z-index: 105;
    display: none;
}

    #toolframe .content-top {
        width: 400px;
        background: white;
        margin: auto;
        height: 35px;
    }

    #toolframe .content-body {
        width: 400px;
        background: white;
        margin: auto;
        height: 300px;
    }

    #toolframe iframe {
        width: 400px;
        height: 350px;
        border: 0px;
    }

.toolframe-body {
    width: 400px;
    height: 300px;
    border: 0px;
    position: absolute;
}

#toolframe-close {
    position: absolute;
    right: -17px;
    top: -19px;
}

    #toolframe-close i {
        font-size: 30px;
        margin: 5px;
        cursor: pointer
    }

@media (max-width: 500px) {
    #toolframe .content-top, #toolframe .content-body, #toolframe iframe, .toolframe-body {
        width: 300px;
    }
}

@media (max-width: 400px) {
    #toolframe .content-top, #toolframe .content-body, #toolframe iframe, .toolframe-body {
        width: 270px;
    }
}

.badge-tag {
    border: solid 1px gray;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}


.jsgrid-table {
    margin-bottom: 0px;
    border: none;
}

footer.container {
    border-top: 3px solid #376672;
    text-align: center;
    margin-top: 30px;
}

footer a {
    margin: 10px;
}

footer div.row {
    display: block;
    padding: 20px;
    margin-top: 20px;
}
